.sesi-informasi-omb{
    position: relative;
    overflow: hidden;

    .tangkai-sio{
        position: absolute;
        mix-blend-mode: soft-light;
        z-index: 0;
        top: -70px;
        left: -20px;
    }

    .bunga-sio{
        display: none;
        position: absolute;
        mix-blend-mode: soft-light;
        z-index: 0;
        height: 24vw;
        right: 0px;
    }

    .content-wrapper-sio{
        display: flex;
        gap: 32px;
        flex-direction: column;
        padding: 100px 160px 100px 160px;
        background: 
        linear-gradient(117deg, rgba(86, 0, 223, 0.9) 0%, rgba(112,71,191,0.9) 40%, rgba(255, 208, 228, 0.9) 100%),
        url('../../images/sio/BG.png');
        background-size: cover;
        background-repeat: no-repeat;

        .judul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            position: relative;
            padding-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 600;
                color: white;
                text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.4);
            }

            p {
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.8);
            }
            
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, transparent, #FFF 50%, transparent);
            }
        }

        .keterangan-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7.099999904632568px);
            padding: 32px;
            border-radius: 20px;
            width: fit-content;
            margin: auto;

            .pelaksanaan-wrapper {
                display: flex;
                flex-direction: column;
                gap: 28px;

                .title-thing {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;

                    h1 {
                        font-size: 32px;
                        font-weight: 600;
                        color: white;
                        text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.4);
                    }

                    p {
                        font-size: 24px;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
                
                .icons {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .each-icons {
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }

                .cta_button {
                    button {
                        display: flex;
                        padding: 12px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 100px;
                        border: none;
                        background: white;
                        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                        transition: box-shadow 0.1s ease-in-out;
            
                        color: #4504AA;
                        font-size: 18px;
                        font-family: 'GSN';
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                            
                        cursor: pointer;
            
                        overflow: hidden;
            
                        img {
                            transform: scaleX(-1);
                            width: 20px;
                            height: 20px;
                        }
                    }
            
                    button:active {
                        padding: 12px 24px 10px 24px;
                        background: white;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
                    }
                }
            }

            .laptop-SIO{
                width: 500px;
                height: auto;
                filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.29));
                transform: rotate(10deg);
            }
        }

        .wajib {
            display: none;
            padding: 16px;
            // border: 1px solid white;
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 0.2);

            color: white;
            font-size: 20px;
            text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.4);
            text-align: center;
        }
    }
}

@media screen and (max-width: 1440px){
    .sesi-informasi-omb{
        .tangkai-sio{
        }
    
        .bunga-sio{
        }
    
        .content-wrapper-sio{
            padding: 100px 100px 100px 100px;
    
            .judul{
                padding-bottom: 32px;
    
                h1 {
                }
    
                p {
                }
                
                &::after {
                }
            }
    
            .keterangan-wrapper{
                gap: 32px;
    
                .pelaksanaan-wrapper {
                    gap: 28px;
    
                    .title-thing {
    
                        h1 {
                        }
    
                        p {
                        }
                    }
                    
                    .icons {
                        .each-icons {
                            img {
                            }
    
                            p {
                            }
                        }
                    }
    
                    .cta_button {
                        button {
                            img {
                            }
                        }
                
                        button:active {
                        }
                    }
                }
    
                .laptop-SIO{
                    width: 460px;
                }
            }
    
            .wajib {
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .sesi-informasi-omb{
        .tangkai-sio{
        }
    
        .bunga-sio{
        }
    
        .content-wrapper-sio{
            padding: 80px 80px 80px 80px;
    
            .judul{
                h1 {
                    // font-size: 40px;
                }
    
                p {
                    font-size: 20px;
                }
                
                &::after {
                }
            }
    
            .keterangan-wrapper{
                margin: auto;
                width: fit-content;
                margin-top: 100px;
                flex-direction: column-reverse;
                gap: 20px;
    
                .pelaksanaan-wrapper {
                    gap: 28px;
    
                    .title-thing {
    
                        h1 {
                        }
    
                        p {
                        }
                    }
                    
                    .icons {
                        .each-icons {
                            img {
                            }
    
                            p {
                            }
                        }
                    }
    
                    .cta_button {
                        button {
                            img {
                            }
                        }
                
                        button:active {
                        }
                    }
                }
    
                .laptop-SIO{
                    margin-top: -140px;
                    width: 460px;
                }
            }
    
            .wajib {
            }
        }
    }
}

@media screen and (max-width: 810px){
    .sesi-informasi-omb{
        .tangkai-sio{
        }
    
        .bunga-sio{
        }
    
        .content-wrapper-sio{
            padding: 40px 40px 40px 40px;
    
            .judul{
                h1 {
                    font-size: 36px;
                }
    
                p {
                    font-size: 20px;
                }
                
                &::after {
                }
            }
    
            .keterangan-wrapper{
                width: -webkit-fill-available;
                margin-top: 100px;
                flex-direction: column-reverse;
                gap: 20px;
    
                .pelaksanaan-wrapper {
                    width: 100%;
                    gap: 28px;
    
                    .title-thing {
                        justify-content: center;
                        align-items: center;
    
                        h1 {
                            text-align: center;
                            font-size: 28px;
                        }
    
                        p {
                            text-align: center;
                            font-size: 20px;
                        }
                    }
                    
                    .icons {
                        margin: auto;
                        width: fit-content;

                        .each-icons {
                            img {
                            }
    
                            p {
                            }
                        }
                    }
    
                    .cta_button {
                        width: 100%;
                        font-size: 18px;

                        button {
                            margin: auto;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                
                        button:active {
                        }
                    }
                }
    
                .laptop-SIO{
                    margin-top: -140px;
                    width: 460px;
                }
            }
    
            .wajib {
            }
        }
    }
}

@media screen and (max-width: 560px){
    .sesi-informasi-omb{
        .tangkai-sio{
        }
    
        .bunga-sio{
        }
    
        .content-wrapper-sio{
            padding: 60px 16px 60px 16px;
    
            .judul{
                h1 {
                    font-size: 28px;
                }
    
                p {
                    font-size: 18px;
                }
                
                &::after {
                }
            }
    
            .keterangan-wrapper{
                width: -webkit-fill-available;
                margin-top: 100px;
                flex-direction: column-reverse;
                gap: 20px;
    
                .pelaksanaan-wrapper {
                    width: 100%;
                    gap: 28px;
    
                    .title-thing {
                        justify-content: center;
                        align-items: center;
    
                        h1 {
                            text-align: center;
                            font-size: 24px;
                        }
    
                        p {
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                    
                    .icons {
                        margin: auto;
                        width: fit-content;

                        .each-icons {
                            img {
                                width: 20px;
                                height: 20px;
                            }
    
                            p {
                                font-size: 18px;
                            }
                        }
                    }
    
                    .cta_button {
                        width: 100%;

                        button {
                            width: 100%;
                            margin: auto;
                            font-size: 16px;
                            
                            img {
                            }
                        }
                
                        button:active {
                        }
                    }
                }
    
                .laptop-SIO{
                    margin-top: -140px;
                    width: 320px;
                }
            }
    
            .wajib {
            }
        }
    }
}