.penugasan_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
    overflow: visible;

    .slider {
        position: sticky;
        top: 12px;
        display: flex;
        gap: 0px;
        border: 1.5px solid rgba(0, 0, 0, 0.056);
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
        padding: 2px;
        border-radius: 100px;
        background: white;
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);

        .slider-button {
            border: none;
            border-radius: 100px;
            padding: 12px 16px;
            font-size: 16px;
            font-family: 'GSN';
            background: none;
            color: rgba(0, 0, 0, 0.365);
            cursor: pointer;
        }

        .active {
            border: 2px solid #4504AA;
            border-radius: 100px;
            font-size: 16px;
            font-family: 'GSN';
            background-color: #4404aa21;
            color: #4504AA;
        }
    }

    .slider:hover {
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
    }

    .list-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 160px 40px 160px;
        background: linear-gradient(0deg, rgba(69, 4, 170, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
        border-bottom: 1.5px solid #4404aa1a;

        .list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .each-list {
                display: flex;
                gap: 16px;
                background-color: #4404aa0a;
                padding: 20px 16px;
                border-radius: 16px;
                border: 1.5px solid #4504AA;
                box-shadow: 0px 7px 12px 0px rgba(69, 4, 179, 0.2);
            }

            .number {
                font-size: 16px;
                font-weight: 500;
                color: white;
                background: var(--ANGKA, linear-gradient(135deg, #4504AA 32%, #FFD0E4 100%));
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 100px;
            }

            .text {
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.8);
                width: 100%;

                b {
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }

    .bottom-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0px 160px;

        .each-list {
            display: flex;
            gap: 16px;
            background-color: #4404aa0a;
            padding: 20px 16px;
            border-radius: 16px;

            .number {
                font-size: 16px;
                font-weight: 500;
                color: white;
                background: var(--ANGKA, linear-gradient(135deg, #4504AA 32%, #FFD0E4 100%));
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 100px;
            }
    
            .text {
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.8);
                width: 100%;

                b {
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }
}