.pers_section {
    display: flex;
    gap: 32px;
    padding: 40px 160px;
    overflow: visible;

    .left-pers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        .pers-title {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0px;
            padding-bottom: 20px;
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

            .day-and-date {
                display: flex;
                gap: 12px;
                align-items: center;

                .hari-name {
                    font-size: 20px;
                    font-weight: 500;
                }
        
                .hari-date {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.60);
                }
            }

            h1 {
                font-size: 36px;
                font-weight: 600;
                color: #4504AA;
            }
        }

        .paragraph-pers {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .image-text {
                font-size: 14px;
                margin-top: -16px;
                color: rgba(0, 0, 0, 0.40);
                
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.60);

                a {
                    color: #4504AA;
                    text-decoration: underline;
                }

                b {
                    font-weight: 600;
                    color: black;
                }
            }

            p:hover {
                color: rgba(0, 0, 0, 0.8);
            }

            .image-pers {
                aspect-ratio: 16/9;
                overflow: hidden;
                border: 4px solid #ffffff;
                border-radius: 20px;
                box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .right-pers {
        position: sticky;
        top: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 50%;
        height: max-content;

        p {
            font-size: 20px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.60);
        }

        .info-stack {
            display: flex;
            flex-direction: column;
            gap: 12px;

        }
    }
}

@media screen and (max-width: 1440px){
    .pers_section {
        gap: 28px;
        padding: 40px 100px;
    
        .left-pers {
            .pers-title {    
                .day-and-date {
                    .hari-name {
                        font-size: 18px;
                    }
            
                    .hari-date {
                        font-size: 16px;
                    }
                }
    
                h1 {
                    font-size: 32px;
                }
            }
    
            .paragraph-pers {
                gap: 16px;
    
                .image-text {
                    font-size: 14px;
                    
                }
    
                p {
                    a {
                    }
    
                    b {
                    }
                }
    
                p:hover {
                }
    
                .image-pers {    
                    img {
                    }
                }
                
            }
        }
    
        .right-pers {
            width: 60%;
    
            p {
                font-size: 20px;
            }
    
            .info-stack {
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .pers_section {
        gap: 24px;
        padding: 40px 80px;
    
        .left-pers {
            .pers-title {    
                .day-and-date {
                    .hari-name {
                    }
            
                    .hari-date {
                    }
                }
    
                h1 {
                }
            }
    
            .paragraph-pers {
                .image-text {
                }
    
                p {
                    a {
                    }
    
                    b {
                    }
                }
    
                p:hover {
                }
    
                .image-pers {    
                    img {
                    }
                }
                
            }
        }
    
        .right-pers {
            width: 70%;
    
            p {
            }
    
            .info-stack {
            }
        }
    }
}

@media screen and (max-width: 810px){
    .pers_section {
        flex-direction: column;
        gap: 24px;
        padding: 40px 40px;
    
        .left-pers {
            width: 100%;

            .pers-title {    
                .day-and-date {
                    .hari-name {
                    }
            
                    .hari-date {
                    }
                }
    
                h1 {
                }
            }
    
            .paragraph-pers {
                .image-text {
                    margin-top: -8px;
                }
    
                p {
                    text-align: justify;

                    a {
                    }
    
                    b {
                    }
                }
    
                p:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
    
                .image-pers {    
                    img {
                    }
                }
                
            }
        }
    
        .right-pers {
            border-top: 1.5px solid rgba(0, 0, 0, 0.1);
            padding-top: 20px;
            margin-top: 0;
            width: 100%;
            height: fit-content;
    
            p {
            }
    
            .info-stack {
            }
        }
    }
}

@media screen and (max-width: 560px){
    .pers_section {
        gap: 20px;
        padding: 40px 16px;
    
        .left-pers {
            .pers-title {    
                .day-and-date {
                    flex-direction: column;
                    justify-content: left;
                    align-items: start;

                    .hari-name {
                        display: none;
                    }

                    .dot {
                        display: none;
                    }
            
                    .hari-date {
                    }
                }
    
                h1 {
                    font-size: 28px;
                }
            }
    
            .paragraph-pers {
                gap: 20px;

                .image-text {
                }
    
                p {
                    font-size: 18px;

                    a {
                    }
    
                    b {
                    }
                }
    
                p:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
    
                .image-pers {    
                    img {
                    }
                }
                
            }
        }
    
        .right-pers {    
            p {
            }
    
            .info-stack {
            }
        }
    }
}