.content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 40px 160px;
    gap: 40px;
    overflow: visible;

    .slider {
        position: sticky;
        top: 12px;
        display: flex;
        gap: 0px;
        border: 1.5px solid rgba(0, 0, 0, 0.056);
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
        padding: 2px;
        border-radius: 100px;
        background: white;
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
        z-index: 998;

        .slider-button {
            border: none;
            border-radius: 100px;
            padding: 12px 16px;
            font-size: 16px;
            font-family: 'GSN';
            background: none;
            color: rgba(0, 0, 0, 0.365);
            cursor: pointer;
        }
        .active {
            border: 2px solid #4504AA;
            border-radius: 100px;
            padding: 10px 14px;
            font-size: 16px;
            font-family: 'GSN';
            background-color: #4404aa21;
            color: #4504AA;
        }
    }
    .slider:hover {
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
    }
    
    .slider-wrapper-mobile {
        z-index: 100;
        display: none;
        margin: 4px;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        .slider-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 24px;
          width: 100%;
          width: -webkit-fill-available;
          .slider-button-mobile-active {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            gap: 16px;
            color: #4504aa;
            font-family: "Gill Sans Nova";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: #fff;
            border-radius: 32px;
            border: 1.6px solid #f0f0f0;
            box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
            .arrow.up {
              margin-top: 2px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              transition-duration: 500ms;
              scale: 124%;
            }
            .arrow.down {
              transform: rotate(-180deg);
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              transition-duration: 500ms;
              scale: 124%;
            }
          }
          .dropdown-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            border: solid 1.6px #f0f0f0;
            border-radius: 20px;
            gap: 2px;
            padding: 2px;
            margin-bottom: -200px;
            box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
            z-index: 100;
            .slider-button-mobile {
              cursor: pointer;
              padding: 10px 16px;
              gap: 16px;
              border: none;
              border-radius: 18px;
              width: 100%;
              color: #4504aa;
              background-color: #fff;
              font-family: "Gill Sans Nova";
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            button:active {
              color: #fff;
              background-color: #4504aa;
            }
            .slider-button-mobile:hover {
              color: #fff;
              background-color: #4504aa;
            }
          }
        }
      }
    .lebah{
        position:absolute;
        right: 16px;
        padding-right: 20px;
        padding-top: 250px;
        width: 6%;
        z-index: -1;
    }
    .lebah2{
        left: 60px;
        padding-top: 64px;
        padding-left: 50px;
        -webkit-transform: scaleX(-1);
        rotate: 20deg;
        opacity: 40%;
        width: 4%;
        position:absolute;
        z-index: -1;
    }
    .tangkai{
        padding-top: 360px;
        left: 0;
        position:absolute;
        z-index: -1;
        width: 28%;
    }
    .atribut-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;

        .each-list{
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            border-radius: 20px;
            border: 1.5px solid #F0F0F0;
            background: #FFF;
            box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
            transition: transform 0.2s ease-in-out;

            .list-image{
                max-width: 120px;
                min-width: 120px;
            }
            .text-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 212px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;   
                       
                .item{
                    border-top: 1px solid rgba(0, 0, 0, 0.05);
                    padding-top: 10px;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 18px;
                }
            }

            button{
                display: flex;
                padding: 8px 12px;
                justify-content: center;
                align-items: center;
                gap: 0px;
                align-self: stretch;
                border-radius: 100px;
                border: none;
                background: rgba(194, 194, 194, 0.11);
                color: #4504AA;
                font-family: "GSN";
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
            }

            button:hover{
                background-color: rgba(68, 4, 170, 0.1294117647);
            }
            
        }

        .each-list:hover {
            transform: translateY(-5px); 
        }
    }
}
@media screen and (max-width: 1440px) {
    .content-wrapper{
        padding: 40px 100px;

        .slider {
            .slider-button {
                padding: 8px 16px;
            }

            .active {
            }
        }

        .slider-wrapper-mobile{
            // display: none;
            // margin: 4px;
            // justify-content: center;
            // align-items: center;
            .slider-mobile{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                // gap: 24px;
                // width: 100%;
                .slider-button-mobile-active{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // padding: 10px 16px;
                    // gap: 16px;
                    // color: #4504aa;
                    // font-family: "Gill Sans Nova";
                    // font-size: 18px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                    // background-color: #fff;
                    // border-radius: 32px;
                    // border: 1.6px solid #F0F0F0;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    .arrow.up{
                        // margin-top: 2px;
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                    .arrow.down {
                        // transform: rotate(-180deg);
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                }
                .dropdown-wrapper{
                    // margin-top: 20px;
                    // position: absolute;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // flex-direction: column;
                    // background-color: #fff;
                    // border: solid 1.6px #F0F0F0;
                    // border-radius: 20px;
                    // gap: 2px;
                    // padding: 2px;
                    // margin-bottom: -200px;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    // z-index: 100;
                    .slider-button-mobile{
                        // cursor: pointer;
                        // padding: 10px 16px;
                        // gap: 16px;
                        // border: none;
                        // border-radius: 18px;
                        // width: 100%;
                        // color: #4504aa;
                        // background-color: #fff;
                        // font-family: "Gill Sans Nova";
                        // font-size: 18px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                    button:active{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                    .slider-button-mobile:hover{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                }
            }
        }
        .lebah{
            // position:absolute;
            // right: 16px;
            // padding-right: 40px;
            // padding-top: 64px;
            // width: 6%;
            // z-index: -1;
        }
        .lebah2{
            // left: 30px;
            // padding-top: 64px;
            // padding-left: 50px;
            // -webkit-transform: scaleX(-1);
            // rotate: 20deg;
            // opacity: 40%;
            // width: 4%;
            // position:absolute;
            // z-index: -1;
        }
        .tangkai{
            // padding-top: 360px;
            // left: 0;
            // position:absolute;
            // z-index: -1;
            // width: 28%;
        }
        .atribut-wrapper{
            // display: flex;
            // flex-wrap: wrap;
            // gap: 24px;
            // justify-content: center;
            // align-items: center;
            // align-content: center;
            .each-list{
                // display: flex;
                // width: 200px;
                // padding: 24px;
                // flex-direction: column;
                // align-items: center;
                // gap: 24px;
                // border-radius: 20px;
                // border: 2px solid #F0F0F0;
                // background: #FFF;
                // box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
                .list-image{
                    // max-width: 150px;
                    // min-width: 150px;
                }
                .text-wrapper{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // width: 200px; /* Adjust this width as needed */
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // text-align: center;          
                    .item{
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // font-size: 20px;
                        // .text-ilkom{
                        //     color: yellow;
                        // }
                        // .text-bisnis{
    
                        // }
                        // .text-seni{
    
                        // }
                        // .text-fti{
    
                        // }
                    }
                }
                button{
                    // display: flex;
                    // padding: 8px 0px;
                    // justify-content: center;
                    // align-items: center;
                    // gap: 10px;
                    // align-self: stretch;
                    // border-radius: 100px;
                    // border: 1px solid #E4E4E4;
                    // background: rgba(194, 194, 194, 0.11);
                    // color: #4504AA;
                    // font-family: "GSN";
                    // font-weight: 500;
                    // font-size: 18px;
                }
                button:hover{
                    // background-color: rgba(68, 4, 170, 0.1294117647);
                    // border-color: #4504AA;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .content-wrapper{
        padding: 40px 80px;

        .slider {
            display: none;

            .slider-button {
            }
            .active {
            }
        }

        .slider-wrapper-mobile {
            display: flex;
            position: sticky;
            top: 12px;
      
            .slider-mobile {
              .slider-button-mobile-active {
                width: 100%;
                justify-content: space-between;
                padding: 10px 20px;
                border: 1.5px solid rgba(0, 0, 0, 0.056);
                box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
      
                .arrow.up {
                }
                .arrow.down {
                }
              }
      
              .dropdown-wrapper {
                width: 100%;
                justify-content: left;
                align-items: start;
                border: 1.5px solid rgba(0, 0, 0, 0.056);
                border-radius: 20px;
                gap: 0px;
                padding: 2px;
                margin-bottom: -200px;
                box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
                overflow: hidden;
      
                .slider-button-mobile {
                  padding: 8px 16px;
                  gap: 0px;
                  border-radius: 0px;
                  text-align: left;
                  width: 100%;
                  font-size: 18px;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.046);
                }
      
                button:active {
                }
      
                .slider-button-mobile:hover {
                }
              }
            }
          }

        .lebah{
            // position:absolute;
            // right: 16px;
            // padding-right: 40px;
            // padding-top: 64px;
            width: 8%;
            // z-index: -1;
        }
        .lebah2{
            // left: 30px;
            // padding-top: 64px;
            // padding-left: 50px;
            // -webkit-transform: scaleX(-1);
            // rotate: 20deg;
            // opacity: 40%;
            width: 6%;
            // position:absolute;
            // z-index: -1;
        }
        .tangkai{
            // padding-top: 360px;
            // left: 0;
            // position:absolute;
            // z-index: -1;
            // width: 28%;
        }
        .atribut-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            // flex-wrap: wrap;
            // gap: 24px;
            // justify-content: center;
            // align-items: center;
            // align-content: center;
            .each-list{
                // display: flex;
                // width: 200px;
                // width: 1fr;
                // padding: 24px;
                // flex-direction: column;
                // align-items: center;
                // gap: 24px;
                // border-radius: 20px;
                // border: 2px solid #F0F0F0;
                // background: #FFF;
                // box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
                .list-image{
                    // max-width: 150px;
                    // min-width: 150px;
                }
                .text-wrapper{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    width: 300px;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // text-align: center;          
                    .item{
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // font-size: 20px;
                        // .text-ilkom{
                        //     color: yellow;
                        // }
                        // .text-bisnis{
    
                        // }
                        // .text-seni{
    
                        // }
                        // .text-fti{
    
                        // }
                    }
                }
                button{
                    // display: flex;
                    // padding: 8px 0px;
                    // justify-content: center;
                    // align-items: center;
                    // gap: 10px;
                    // align-self: stretch;
                    // border-radius: 100px;
                    // border: 1px solid #E4E4E4;
                    // background: rgba(194, 194, 194, 0.11);
                    // color: #4504AA;
                    // font-family: "GSN";
                    // font-weight: 500;
                    // font-size: 18px;
                }
                button:hover{
                    // background-color: rgba(68, 4, 170, 0.1294117647);
                    // border-color: #4504AA;
                }
            }
        }
    }
}


@media screen and (max-width: 810px) {
    .content-wrapper{
        padding: 40px;
        // display: flex;
        // flex-direction: column;
        // gap: 64px;
        .slider {
            // position: sticky;
            // top: 12px;
            // display: flex;
            // gap: 0px;
            // border: 1.5px solid rgba(0, 0, 0, 0.056);
            // justify-content: center;
            // align-items: center;
            // width: fit-content;
            // margin: auto;
            // padding: 2px;
            // border-radius: 100px;
            // background: white;
            // box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
            .slider-button {
                // border: none;
                // border-radius: 100px;
                // padding: 12px 16px;
                // font-size: 16px;
                // font-family: 'GSN';
                // background: none;
                // color: rgba(0, 0, 0, 0.365);
                // cursor: pointer;
            }
            .active {
                // border: 2px solid #4504AA;
                // border-radius: 100px;
                // padding: 10px 14px;
                // font-size: 16px;
                // font-family: 'GSN';
                // background-color: #4404aa21;
                // color: #4504AA;
            }
        }
        .slider:hover {
            // box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
        }
        .slider-wrapper-mobile{
            // display: none;
            // margin: 4px;
            // justify-content: center;
            // align-items: center;
            .slider-mobile{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                // gap: 24px;
                // width: 100%;
                .slider-button-mobile-active{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // padding: 10px 16px;
                    // gap: 16px;
                    // color: #4504aa;
                    // font-family: "Gill Sans Nova";
                    // font-size: 18px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                    // background-color: #fff;
                    // border-radius: 32px;
                    // border: 1.6px solid #F0F0F0;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    .arrow.up{
                        // margin-top: 2px;
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                    .arrow.down {
                        // transform: rotate(-180deg);
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                }
                .dropdown-wrapper{
                    // margin-top: 20px;
                    // position: absolute;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // flex-direction: column;
                    // background-color: #fff;
                    // border: solid 1.6px #F0F0F0;
                    // border-radius: 20px;
                    // gap: 2px;
                    // padding: 2px;
                    // margin-bottom: -200px;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    // z-index: 100;
                    .slider-button-mobile{
                        // cursor: pointer;
                        // padding: 10px 16px;
                        // gap: 16px;
                        // border: none;
                        // border-radius: 18px;
                        // width: 100%;
                        // color: #4504aa;
                        // background-color: #fff;
                        // font-family: "Gill Sans Nova";
                        // font-size: 18px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                    button:active{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                    .slider-button-mobile:hover{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                }
            }
        }
        .lebah{
            // position:absolute;
            // right: 16px;
            // padding-right: 40px;
            // padding-top: 64px;
            // width: 6%;
            // z-index: -1;
        }
        .lebah2{
            // left: 30px;
            // padding-top: 64px;
            // padding-left: 50px;
            // -webkit-transform: scaleX(-1);
            // rotate: 20deg;
            // opacity: 40%;
            // width: 4%;
            // position:absolute;
            // z-index: -1;
        }
        .tangkai{
            // padding-top: 360px;
            // left: 0;
            // position:absolute;
            // z-index: -1;
            // width: 28%;
        }
        .atribut-wrapper{
            grid-template-columns: 1fr;
            // display: flex;
            // flex-wrap: wrap;
            // gap: 24px;
            // justify-content: center;
            // align-items: center;
            // align-content: center;
            .each-list{
                // display: flex;
                // width: 200px;
                // padding: 24px;
                // flex-direction: column;
                // align-items: center;
                // gap: 24px;
                // border-radius: 20px;
                // border: 2px solid #F0F0F0;
                // background: #FFF;
                // box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
                .list-image{
                    // max-width: 150px;
                    // min-width: 150px;
                }
                .text-wrapper{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // width: 200px; /* Adjust this width as needed */
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // text-align: center;          
                    .item{
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // font-size: 20px;
                        // .text-ilkom{
                        //     color: yellow;
                        // }
                        // .text-bisnis{
    
                        // }
                        // .text-seni{
    
                        // }
                        // .text-fti{
    
                        // }
                    }
                }
                button{
                    // display: flex;
                    // padding: 8px 0px;
                    // justify-content: center;
                    // align-items: center;
                    // gap: 10px;
                    // align-self: stretch;
                    // border-radius: 100px;
                    // border: 1px solid #E4E4E4;
                    // background: rgba(194, 194, 194, 0.11);
                    // color: #4504AA;
                    // font-family: "GSN";
                    // font-weight: 500;
                    // font-size: 18px;
                }
                button:hover{
                    // background-color: rgba(68, 4, 170, 0.1294117647);
                    // border-color: #4504AA;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .content-wrapper{
        padding: 40px 16px;
        // display: flex;
        // flex-direction: column;
        // gap: 64px;
        .slider {
            // position: sticky;
            // top: 12px;
            // display: flex;
            // gap: 0px;
            // border: 1.5px solid rgba(0, 0, 0, 0.056);
            // justify-content: center;
            // align-items: center;
            // width: fit-content;
            // margin: auto;
            // padding: 2px;
            // border-radius: 100px;
            // background: white;
            // box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
            .slider-button {
                // border: none;
                // border-radius: 100px;
                // padding: 12px 16px;
                // font-size: 16px;
                // font-family: 'GSN';
                // background: none;
                // color: rgba(0, 0, 0, 0.365);
                // cursor: pointer;
            }
            .active {
                // border: 2px solid #4504AA;
                // border-radius: 100px;
                // padding: 10px 14px;
                // font-size: 16px;
                // font-family: 'GSN';
                // background-color: #4404aa21;
                // color: #4504AA;
            }
        }
        .slider:hover {
            // box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
        }
        .slider-wrapper-mobile{
            // display: none;
            // margin: 4px;
            // justify-content: center;
            // align-items: center;
            .slider-mobile{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                // gap: 24px;
                // width: 100%;
                .slider-button-mobile-active{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // padding: 10px 16px;
                    // gap: 16px;
                    // color: #4504aa;
                    // font-family: "Gill Sans Nova";
                    // font-size: 18px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                    // background-color: #fff;
                    // border-radius: 32px;
                    // border: 1.6px solid #F0F0F0;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    .arrow.up{
                        // margin-top: 2px;
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                    .arrow.down {
                        // transform: rotate(-180deg);
                        // transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                        // transition-duration: 500ms;
                        // scale: 124%;
                    }
                }
                .dropdown-wrapper{
                    // margin-top: 20px;
                    // position: absolute;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // flex-direction: column;
                    // background-color: #fff;
                    // border: solid 1.6px #F0F0F0;
                    // border-radius: 20px;
                    // gap: 2px;
                    // padding: 2px;
                    // margin-bottom: -200px;
                    // box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
                    // z-index: 100;
                    .slider-button-mobile{
                        // cursor: pointer;
                        // padding: 10px 16px;
                        // gap: 16px;
                        // border: none;
                        // border-radius: 18px;
                        // width: 100%;
                        // color: #4504aa;
                        // background-color: #fff;
                        // font-family: "Gill Sans Nova";
                        // font-size: 18px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                    button:active{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                    .slider-button-mobile:hover{
                        // color: #fff;
                        // background-color: #4504aa;
                    }
                }
            }
        }
        .lebah{
            // position:absolute;
            // right: 16px;
            // padding-right: 40px;
            // padding-top: 64px;
            width: 10%;
            // z-index: -1;
        }
        .lebah2{
            // left: 30px;
            // padding-top: 64px;
            // padding-left: 50px;
            // -webkit-transform: scaleX(-1);
            // rotate: 20deg;
            // opacity: 40%;
            width: 8%;
            // position:absolute;
            // z-index: -1;
        }
        .tangkai{
            // padding-top: 360px;
            // left: 0;
            // position:absolute;
            // z-index: -1;
            width: 36%;
        }
        .atribut-wrapper{
            // display: flex;
            // flex-wrap: wrap;
            // gap: 24px;
            // justify-content: center;
            // align-items: center;
            // align-content: center;
            .each-list{
                // display: flex;
                // width: 200px;
                // padding: 24px;
                // flex-direction: column;
                // align-items: center;
                // gap: 24px;
                // border-radius: 20px;
                // border: 2px solid #F0F0F0;
                // background: #FFF;
                // box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
                .list-image{
                    // max-width: 150px;
                    // min-width: 150px;
                }
                .text-wrapper{
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // width: 200px; /* Adjust this width as needed */
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // text-align: center;          
                    .item{
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // font-size: 20px;
                        // .text-ilkom{
                        //     color: yellow;
                        // }
                        // .text-bisnis{
    
                        // }
                        // .text-seni{
    
                        // }
                        // .text-fti{
    
                        // }
                    }
                }
                button{
                    // display: flex;
                    // padding: 8px 0px;
                    // justify-content: center;
                    // align-items: center;
                    // gap: 10px;
                    // align-self: stretch;
                    // border-radius: 100px;
                    // border: 1px solid #E4E4E4;
                    // background: rgba(194, 194, 194, 0.11);
                    // color: #4504AA;
                    // font-family: "GSN";
                    // font-weight: 500;
                    // font-size: 18px;
                }
                button:hover{
                    // background-color: rgba(68, 4, 170, 0.1294117647);
                    // border-color: #4504AA;
                }
            }
        }
    }
}