
.petugas_upacara_section {
  // background: url('../../images/waves/Blurry.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;

  .wave_two {
    width: 100%;
    pointer-events: none;
  }

  .wave_three {
    z-index: 99;
    margin-bottom: -2px;
    width: 100%;
    pointer-events: none;
  }

  .petugas_upacara_content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0px 160px 0px 160px;
    align-items: center;
    width: 1fr;
    z-index: 100;

    .the_title {
      display: flex;
      align-items: center;
      gap: 20px;

      h1 {
        text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
          0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 108%;
        text-align: center;
        color: #4404aaa5;
      }

      img {
        width: 100px;
        height: auto;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.29));
      }
    }

    .the_content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      z-index: 96;

      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        width: 50%;

        .the_title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          h1 {
            text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
              0px 4px 12px rgba(129, 87, 206, 0.25),
              0px 2px 4px rgba(0, 0, 0, 0.12);
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: linear-gradient(92deg, #fff5c1 -0.06%, #fff 101.3%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p {
            color: black;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: justify;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        img {
          /* Set the width to 100% of its container */ /* Maintain aspect ratio */
          max-width: 120%; /* Ensure the image does not exceed its container's width */
          max-height: 120%; /* Ensure the image does not exceed its container's height */
          object-fit: cover;
        }
      }
    }

    .cta_button {
      button {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        border: none;
        background: linear-gradient(169deg, #9879d4 8.3%, #4504aa 91.79%);
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2),
          0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset,
          0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
        transition: box-shadow 0.1s ease-in-out;

        color: #fff;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        cursor: pointer;

        img {
          width: 26px;
          height: 26px;
        }
      }

      button:active {
        padding: 16px 24px 14px 24px;
        background: linear-gradient(169deg, #7753be 8.25%, #3d0595 91.75%);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
          0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset,
          0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
      }
    }
  }

  .bottom_air {
    z-index: 0;
    position: absolute;
    bottom: 100px;
    width: 100%;
    opacity: 0.1;
  }
}

.modal-syarat {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; //untuk button
  height: 100%;

  .lebah-judul {
    position:absolute;
    width: 5%;
    height: auto;
    right: 15%;
    rotate: 0deg;
    opacity: 0.4;
  }

  .kembang-judul {
    position:absolute;
    width: 15%;
    padding: 0;
    height: auto;
    left: 0;
    rotate: 0deg;
    opacity: 0.4;
  }

  h2 {
    margin: 0 auto;
    text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .konten-lingkaran {
    position: relative;
    width: 100%;
    height: 73%;

    .logo_omb {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      width: 10%;
      height: auto;
    }

    .card {
      display: flex;

      .number-box {
        display: flex;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: auto 16px;

        p {
          font-size: 22px;
          margin: auto;
        }
      }
    }
    
    .card-6 {
      position: absolute; 
      top: 50%; 
      left: 50%;
      transform: translate(-50%, 80%);
    
      .number-box {
        display: flex;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: 8px auto;

        p {
          font-size: 22px;
          margin: auto;
        }
      }
    }

    .card-1 {position: absolute; top: 0px; left: 300px; }
    .card-2 {position: absolute; top: 55px; left: 50px; }
    .card-3 {position: absolute; top: 140px; left: 260px; }
    .card-4 {position: absolute; top: 210px; left: 70px; }
    .card-5 {position: absolute; top: 280px; left: 100px; }

    .card-7 {position: absolute; top: 0px; right: 150px; }
    .card-8 {position: absolute; top: 55px; right: 70px; }
    .card-9 {position: absolute; top: 140px; right: 70px; }
    .card-10 {position: absolute; top: 200px; right: 70px; }
    .card-11 {position: absolute; top: 290px; right: 290px; }
  }

  .cta_button {
    display: flex;

    .modal-button {
      display: flex;
      padding: 16px 24px;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      border: none;
      background: linear-gradient(169deg, #9879d4 8.3%, #4504aa 91.79%);
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2),
        0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset,
        0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
      transition: box-shadow 0.1s ease-in-out;

      color: #fff;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      cursor: pointer;
    }

    .modal-button:active {
      padding: 16px 24px 14px 24px;
      background: linear-gradient(169deg, #7753be 8.25%, #3d0595 91.75%);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
        0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
    }


    .air-button-1 {
      position: absolute;
      left: 20%;
      opacity: 0.4;
      width: 20%;
    }

    .air-button-2 {
      position: absolute;
      right: 20%;
      opacity: 0.4;
      width: 20%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .petugas_upacara_section {
    // background: url('../../images/waves/Blurry.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 100px;
    // position: relative;

    .wave_two {
      // width: 100%;
      // pointer-events: none;
    }

    .wave_three {
      // z-index: 99;
      // margin-bottom: -2px;
      // width: 100%;
      // pointer-events: none;
    }

    .petugas_upacara_content {
      // display: flex;
      // flex-direction: column;
      gap: 40px;
      padding: 0px 100px 0px 100px;
      // align-items: center;
      // z-index: 100;

      .the_title {
        // display: flex;
        // align-items: center;
        // gap: 20px;

        h1 {
          // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
          // font-size: 36px;
          // font-style: normal;
          // font-weight: 600;
          // line-height: 108%;
          // text-align: center;
          // background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
          // background-clip: text;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
        }

        img {
          width: 80px;
          // height: auto;
          // filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.29));
        }
      }

      .the_content {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        gap: 20px;
        // z-index: 96;
        .left {
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          gap: 48px;
          width: 56%;

          .the_title {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            gap: 20px;

            h1 {
              // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
              // font-size: 48px;
              // font-style: normal;
              // font-weight: 600;
              // line-height: normal;
              // background: linear-gradient(92deg, #FFF5C1 -0.06%, #FFF 101.3%);
              // background-clip: text;
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
            }

            p {
              // color: black;
              // font-size: 24px;
              // font-style: normal;
              // font-weight: 500;
              // line-height: normal;
              // text-align: justify;
            }
          }
        }
        .right {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // width: fit-content;

          img {
            /* Set the width to 100% of its container */ /* Maintain aspect ratio */
            max-width: 80%; /* Ensure the image does not exceed its container's width */
            max-height: 80%; /* Ensure the image does not exceed its container's height */
            // object-fit: cover;
          }
        }
      }
      .cta_button {
        // display: flex;
        // padding: 2px;
        // flex-direction: column;
        // align-items: center;
        // border-radius: 100px;
        // border: 3px solid #9879D4;

        button {
          // display: flex;
          // padding: 16px 24px;
          // justify-content: center;
          // align-items: center;
          // gap: 8px;
          // border-radius: 100px;
          // border: none;
          // height: fit-content;
          // background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
          // box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.40), 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.32) inset;
          // transition: box-shadow 0.1s ease-in-out;

          img {
            // width: 22px;
            // height: 22px;
          }

          /* font */
          // color: #FFF;
          // text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
          // font-size: 20px;
          // font-style: normal;
          // font-weight: 500;
          // line-height: normal;
        }

        button:hover {
          // cursor: pointer;
        }

        button:active {
          // min-height: 54.5px;
          // padding: 16px 24px 14px 24px;
          // border-radius: 100px;
          // background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
          // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.40), 0px 4px 8px 0px rgba(0, 0, 0, 0.20) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
        }
      }
    }

    .bottom_air {
      // z-index: 0;
      // position: absolute;
      // bottom: 240px;
      // width: 120%;
      // opacity: 0.1;
    }
  }

  .modal-syarat {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center; //untuk button
    height: 100%;
  
    .logo_omb {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -70%);
      width: 13%;
      height: auto;
    }
  
    .lebah-judul {
      position:absolute;
      width: 5%;
      height: auto;
      right: 15%;
      rotate: 0deg;
      opacity: 0.4;
    }
  
    .kembang-judul {
      position:absolute;
      width: 15%;
      padding: 0;
      height: auto;
      left: 0;
      rotate: 0deg;
      opacity: 0.4;
    }
  
    h2 {
      margin: 0 auto;
      text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .konten-lingkaran {
      position: relative;
      width: 100%;
      height: 73%;

      .logo_omb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        width: 10%;
        height: auto;
      }
  
      .card {
        display: flex;
  
        .number-box {
          display: flex;
          width: 40px;
          height: 40px;
          background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
          color: white;
          border-radius: 50%;
          margin: auto 16px;
  
          p {
            font-size: 22px;
            margin: auto;
          }
        }
      }
      
      .card-6 {
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, 100%);
      
        .number-box {
          display: flex;
          width: 40px;
          height: 40px;
          background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
          color: white;
          border-radius: 50%;
          margin: 8px auto;
  
          p {
            font-size: 22px;
            margin: auto;
          }
        }
      }
  
      .card-1 {position: absolute; top: 0px; left: 200px; }
      .card-2 {position: absolute; top: 55px; left: 0px; }
      .card-3 {position: absolute; top: 140px; left: 180px; }
      .card-4 {position: absolute; top: 210px; left: 15px; }
      .card-5 {position: absolute; top: 280px; left: 30px; }
  
      .card-7 {position: absolute; top: 0px; right: 70px; }
      .card-8 {position: absolute; top: 55px; right: 0px; }
      .card-9 {position: absolute; top: 140px; right: 0px; }
      .card-10 {position: absolute; top: 200px; right: 0px; }
      .card-11 {position: absolute; top: 290px; right: 200px; }
    }
  
    .cta_button {
      display: flex;
  
      .modal-button {
        display: flex;
        padding: 16px 24px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        border: none;
        background: linear-gradient(169deg, #9879d4 8.3%, #4504aa 91.79%);
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2),
          0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset,
          0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
        transition: box-shadow 0.1s ease-in-out;
  
        color: #fff;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
  
        cursor: pointer;
      }
  
      .modal-button:active {
        padding: 16px 24px 14px 24px;
        background: linear-gradient(169deg, #7753be 8.25%, #3d0595 91.75%);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
          0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset,
          0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
      }
  
  
      .air-button-1 {
        position: absolute;
        left: 18%;
        opacity: 0.4;
        width: 20%;
      }
  
      .air-button-2 {
        position: absolute;
        right: 18%;
        opacity: 0.4;
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .petugas_upacara_section {
    // background: url('../../images/waves/Blurry.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 100px;
    // position: relative;

    .wave_two {
      // width: 100%;
      // pointer-events: none;
    }

    .wave_three {
      // z-index: 99;
      // margin-bottom: -2px;
      // width: 100%;
      // pointer-events: none;
    }

    .petugas_upacara_content {
      // display: flex;
      // flex-direction: column;
      gap: 40px;
      padding: 0px 80px 0px 80px;
      // align-items: center;
      // z-index: 100;

      .the_title {
        // display: flex;
        // align-items: center;
        // gap: 20px;

        h1 {
          // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
          // font-size: 36px;
          // font-style: normal;
          // font-weight: 600;
          // line-height: 108%;
          // text-align: center;
          // background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
          // background-clip: text;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
        }

        img {
          // width: 80px;
          // height: auto;
          // filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.29));
        }
      }

      .the_content {
        // display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        gap: 20px;
        // z-index: 96;

        .left {
          // display: flex;
          // flex-direction: column;
          align-items: center;
          gap: 40px;
          width: 100%;

          .the_title {
            // display: flex;
            // flex-direction: column;
            align-items: flex-start;
            // gap: 20px;

            h1 {
              // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
              font-size: 40px;
              text-align: center;
              // font-style: normal;
              // font-weight: 600;
              // line-height: normal;
              // background: linear-gradient(92deg, #FFF5C1 -0.06%, #FFF 101.3%);
              // background-clip: text;
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
            }

            p {
              // color: black;
              // font-size: 24px;
              text-align: justify;
              // font-style: normal;
              // font-weight: 500;
              // line-height: normal;
              // text-align: justify;
            }
          }
          
        .right {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // width: fit-content;

          img {
            // /* Set the width to 100% of its container */ /* Maintain aspect ratio */
            //     max-width: 120%; /* Ensure the image does not exceed its container's width */
            //     max-height: 120%; /* Ensure the image does not exceed its container's height */
            // //     object-fit: cover;
          }
        }
      }

        .cta_button {
          // display: flex;
          // padding: 2px;
          // flex-direction: column;
          // align-items: center;
          // border-radius: 100px;
          // border: 3px solid #9879D4;

          button {
            // display: flex;
            // padding: 16px 24px;
            // justify-content: center;
            // align-items: center;
            // gap: 8px;
            // border-radius: 100px;
            // border: none;
            // height: fit-content;
            // background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
            // box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.40), 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.32) inset;
            // transition: box-shadow 0.1s ease-in-out;

            img {
              // width: 22px;
              // height: 22px;
            }

            /* font */
            // color: #FFF;
            // text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
            // font-size: 20px;
            // font-style: normal;
            // font-weight: 500;
            // line-height: normal;
          }

          button:hover {
            // cursor: pointer;
          }

          button:active {
            // min-height: 54.5px;
            // padding: 16px 24px 14px 24px;
            // border-radius: 100px;
            // background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
            // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.40), 0px 4px 8px 0px rgba(0, 0, 0, 0.20) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
          }
        }
      }

      .bottom_air {
        // z-index: 0;
        // position: absolute;
        // bottom: 240px;
        // width: 120%;
        // opacity: 0.1;
      }
    }
  }

  .modal-syarat-mobile {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-bottom: 16px;
    overflow-y: scroll;

    h2 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 8px;

      background: linear-gradient(0deg, #4504AA 0%, #4504AA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo_omb {
      width: 20%;
      height: auto;
      margin: 16px auto;
    }

    .card-mobile {
      display: flex;
      margin-bottom: 2px;

      .number-box {
        display: flex;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: auto 4px auto 0;

        p {
          font-size: 18px;
          margin: auto;
        }
      }
    }

    .button-mobile {
      width: 200px;
      height: 60px;
      border-radius: 100px;
      background: linear-gradient(169deg, #9879D4 8.25%, #4504AA 91.75%);
      box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.60) inset, 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 6px 6px 0px rgba(0, 0, 0, 0.40);

      margin: 16px auto;
      padding: 8px 24px;
      p {
        font-size: 18px;
        color: white
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .petugas_upacara_section {
    // background: url('../../images/waves/Blurry.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 100px;
    // position: relative;

    .wave_two {
      // width: 100%;
      // pointer-events: none;
    }

    .wave_three {
      // z-index: 99;
      // margin-bottom: -2px;
      // width: 100%;
      // pointer-events: none;
    }

    .petugas_upacara_content {
      // display: flex;
      // flex-direction: column;
      // gap: 40px;
      padding: 0px 40px 0px 40px;
      // align-items: center;
      // z-index: 100;

      .the_title {
        // display: flex;
        // align-items: center;
        // gap: 20px;

        h1 {
          // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
          font-size: 32px;
          // font-style: normal;
          // font-weight: 600;
          // line-height: 108%;
          // text-align: center;
          // background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
          // background-clip: text;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
        }

        img {
          display: none;
          // width: 80px;
          // height: auto;
          // filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.29));
        }
      }

      .the_content {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // gap: 100px;
        // z-index: 96;

        .left {
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // gap: 60px;
          // width: 50%;

          .the_title {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 20px;

            h1 {
              // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
              font-size: 40px;
              // font-style: normal;
              // font-weight: 600;
              // line-height: normal;
              // background: linear-gradient(92deg, #FFF5C1 -0.06%, #FFF 101.3%);
              // background-clip: text;
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
            }

            p {
              // color: black;
              // font-size: 24px;
              // font-style: normal;
              // font-weight: 500;
              // line-height: normal;
              // text-align: justify;
            }
          }
        }

        .right {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // width: fit-content;

          img {
            /* Set the width to 100% of its container */ /* Maintain aspect ratio */
            max-width: 200%; /* Ensure the image does not exceed its container's width */
            max-height: 200%; /* Ensure the image does not exceed its container's height */
            // object-fit: cover;
          }
        }
      }

      .cta_button {
        width: 100%;
        // display: flex;
        // padding: 2px;
        // flex-direction: column;
        // align-items: center;
        // border-radius: 100px;
        // border: 3px solid #9879D4;

        button {
          width: 100%;
          // display: flex;
          // padding: 16px 24px;
          // justify-content: center;
          // align-items: center;
          // gap: 8px;
          // border-radius: 100px;
          // border: none;
          // height: fit-content;
          // background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
          // box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.40), 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.32) inset;
          // transition: box-shadow 0.1s ease-in-out;

          img {
            width: 20px;
            height: 20px;
          }

          /* font */
          // color: #FFF;
          // text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
          font-size: 18px;
          // font-style: normal;
          // font-weight: 500;
          // line-height: normal;
        }

        button:hover {
          // cursor: pointer;
        }

        button:active {
          // min-height: 54.5px;
          // padding: 16px 24px 14px 24px;
          // border-radius: 100px;
          // background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
          // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.40), 0px 4px 8px 0px rgba(0, 0, 0, 0.20) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
        }
      }
    }

    .bottom_air {
      // z-index: 0;
      // position: absolute;
      // bottom: 240px;
      // width: 120%;
      // opacity: 0.1;
    }
  }

  .modal-syarat-mobile {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-bottom: 16px;
    overflow-y: scroll;

    h2 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 8px;

      background: linear-gradient(0deg, #4504AA 0%, #4504AA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo_omb {
      width: 30%;
      height: auto;
      margin: 16px auto;
    }

    .card-mobile {
      display: flex;
      margin-bottom: 2px;

      .number-box {
        display: flex;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: auto 4px auto 0;

        p {
          font-size: 12px;
          margin: auto;
        }
      }
    }

    .button-mobile {
      width: 150px;
      height: 40px;
      border-radius: 100px;
      background: linear-gradient(169deg, #9879D4 8.25%, #4504AA 91.75%);
      box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.60) inset, 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 6px 6px 0px rgba(0, 0, 0, 0.40);

      margin: 16px auto;
      padding: 8px 16px;
      p {
        color: white
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .petugas_upacara_section {
    // background: url('../../images/waves/Blurry.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 100px;
    // position: relative;

    .wave_two {
      // width: 100%;
      // pointer-events: none;
    }

    .wave_three {
      // z-index: 99;
      // margin-bottom: -2px;
      // width: 100%;
      // pointer-events: none;
    }

    .petugas_upacara_content {
      // display: flex;
      // flex-direction: column;
      // gap: 40px;
      padding: 0px 16px 0px 16px;
      // align-items: center;
      // z-index: 100;

      .the_title {
        // display: flex;
        // align-items: center;
        // gap: 20px;

        h1 {
          // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
          font-size: 28px;
          // font-style: normal;
          // font-weight: 600;
          // line-height: 108%;
          // text-align: center;
          // background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
          // background-clip: text;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
        }

        img {
          display: none;
          // width: 80px;
          // height: auto;
          // filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.29));
        }
      }

      .the_content {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // gap: 100px;
        // z-index: 96;

        .left {
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // gap: 60px;
          // width: 50%;

          .the_title {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 20px;

            h1 {
              // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
              font-size: 32px;
              // font-style: normal;
              // font-weight: 600;
              // line-height: normal;
              // background: linear-gradient(92deg, #FFF5C1 -0.06%, #FFF 101.3%);
              // background-clip: text;
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
            }

            p {
              // color: black;
              font-size: 20px;
              // font-style: normal;
              // font-weight: 500;
              // line-height: normal;
              // text-align: justify;
            }
          }
        }

        .right {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // width: fit-content;

          img {
            /* Set the width to 100% of its container */ /* Maintain aspect ratio */
            max-width: 200%; /* Ensure the image does not exceed its container's width */
            max-height: 200%; /* Ensure the image does not exceed its container's height */
            object-fit: cover;
          }
        }
      }

      .cta_button {
        // display: flex;
        // padding: 2px;
        // flex-direction: column;
        // align-items: center;
        // border-radius: 100px;
        // border: 2px solid #9879D4;

        button {
          // display: flex;
          // padding: 12px 20px;
          // justify-content: center;
          // align-items: center;
          // gap: 6px;
          // border-radius: 100px;
          // border: none;
          // height: fit-content;
          // background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
          // box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.40), 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.32) inset;
          // transition: box-shadow 0.1s ease-in-out;

          img {
            width: 20px;
            height: 20px;
          }

          /* font */
          // color: #FFF;
          // text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
          font-size: 16px;
          // font-style: normal;
          // font-weight: 500;
          // line-height: normal;
        }

        button:hover {
          // cursor: pointer;
        }

        button:active {
          // min-height: 44px;
          // padding: 12px 20px 10px 20px;
          // border-radius: 100px;
          // background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
          // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.40), 0px 4px 8px 0px rgba(0, 0, 0, 0.20) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
        }
      }
    }

    .bottom_air {
      // z-index: 0;
      // position: absolute;
      // bottom: 240px;
      // width: 120%;
      // opacity: 0.1;
    }
  }

  .modal-syarat-mobile {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-bottom: 16px;
    overflow-y: scroll;

    h2 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 8px;

      background: linear-gradient(0deg, #4504AA 0%, #4504AA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo_omb {
      width: 30%;
      height: auto;
      margin: 16px auto;
    }

    .card-mobile {
      display: flex;
      margin-bottom: 2px;

      .number-box {
        display: flex;
        width: 30px;
        height: 30px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: auto 4px auto 0;

        p {
          font-size: 12px;
          margin: auto;
        }
      }
    }

    .button-mobile {
      width: 150px;
      height: 40px;
      border-radius: 100px;
      background: linear-gradient(169deg, #9879D4 8.25%, #4504AA 91.75%);
      box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.60) inset, 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 6px 6px 0px rgba(0, 0, 0, 0.40);

      margin: 16px auto;
      padding: 8px 16px;
      p {
        color: white
      }
    }
  }
}

@media screen and (max-width: 432px) {
  .modal-syarat-mobile {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 8px;

      background: linear-gradient(0deg, #4504AA 0%, #4504AA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo_omb {
      width: 40%;
      height: auto;
      margin: 16px auto;
    }

    .card-mobile {
      display: flex;
      margin-bottom: 2px;

      .number-box {
        display: flex;
        width: 25px;
        height: 25px;
        background-image: linear-gradient(90deg, #CABFF9 0%, #4504AA 85.4%);
        color: white;
        border-radius: 50%;
        margin: auto 4px auto 0;

        p {
          font-size: 12px;
          margin: auto;
        }
      }
    }

    .button-mobile {
      width: 150px;
      height: 40px;
      border-radius: 100px;
      background: linear-gradient(169deg, #9879D4 8.25%, #4504AA 91.75%);
      box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.60) inset, 0px -4px 8px 0px rgba(0, 0, 0, 0.36) inset, 0px 6px 6px 0px rgba(0, 0, 0, 0.40);

      margin: 16px auto;
      padding: 8px 16px;
      p {
        color: white
      }
    }
  }
}