.peserta-wawancara_section {
    display: flex;
    padding: 100px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .note-search {
        position: sticky;
        top: 12px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        // margin-bottom: -12px;

        .notes {
            margin-top: 32px;
            display: flex;
            padding: 24px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid #FCB369;
            background: rgba(252, 179, 105, 0.12);
    
            p {
                color: #ffa246;
                font-size: 24px;
                text-align: left;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
    
            img {
                width: 32px;
                height: 32px;
            
            }
        }
    
        .search_wrapper {
            display: flex;
            width: 100%;
    
            input {
                display: flex;
                padding: 24px 40px;
                border-radius: 100px;
                border: 2px solid rgb(230, 230, 230);
                background: #ffffffe7;
                backdrop-filter: blur(4px);
                width: 100%;
                font-family: "GSN";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                box-shadow: 0px 4px 12px 0px rgba(97, 97, 97, 0.15);
            }

            input:hover {
                background: #f5efffd9;
            }

            input:focus {
                outline-color: #4504AA;
            }
        }
    }

    .peserta-wawancara_content {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 12px 12px 12px 12px;
        border-left: 4px solid var(--Top-right-purple, #4504AA);
        background: #F8F4FF;

        .top_thing {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                color: var(--Top-right-purple, #4504AA);
                font-family: "GSN";
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            h1 {
                color: var(--Top-right-purple, #4504AA);
                font-family: "GSN";
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .peserta_wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .each_peserta {
                display: flex;
                padding: 12px 0px;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                border-bottom: 2px solid #EBE0FF;

                .name {
                    color: rgba(0, 0, 0, 0.80);
                    font-family: "GSN";
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .time-nim {
                    color: rgba(0, 0, 0, 0.80);
                    font-family: "GSN";
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px){
    .peserta-wawancara_section {
        // display: flex;
        padding: 100px;
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 40px;

        .note-search {
            // z-index: 100;
            // display: flex;
            // flex-direction: column;
            // width: 100%;
            // gap: 32px;
            // margin-bottom: -40px;
    
            .notes {
                margin-top: 28px;
                // display: flex;
                padding: 16px;
                gap: 32px;
                // justify-content: space-between;
                // align-items: center;
                // align-self: stretch;
                // border-radius: 12px;
                // border: 1px solid #FCB369;
                // background: rgba(252, 179, 105, 0.12);
    
                p {
                    // color: #ffa246;
                    font-size: 18px;
                    // text-align: left;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
    
                img {
                    width: 28px;
                    height: 28px;
                
                }
            }
        
            .search_wrapper {
                // display: flex;
                // width: 100%;
        
                input {
                    // display: flex;
                    padding: 28px 40px;
                    // border-radius: 0px 12px 0px 0px;
                    // border: none;
                    // border-left: 4px solid #4504AA;
                    // background: #F1E9FF;
                    // width: 100%;
                    // font-family: "Gill Sans Nova";
                    // font-size: 24px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
            }
        }
    
        .peserta-wawancara_content {
            // display: flex;
            // padding: 40px;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 4px;
            // align-self: stretch;
            // border-radius: 0px 12px 12px 0px;
            // border-left: 4px solid var(--Top-right-purple, #4504AA);
            // background: #F8F4FF;
    
            .top_thing {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
    
                p {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    // font-size: 24px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
    
                h1 {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    // font-size: 40px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
            }
    
            .peserta_wrapper {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
                // align-self: stretch;
    
                .each_peserta {
                    // display: flex;
                    padding: 12px 0px;
                    // justify-content: space-between;
                    // align-items: flex-start;
                    // align-self: stretch;
                    // border-bottom: 2px solid #EBE0FF;
    
                    .name {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 24px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    .time-nim {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 24px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .peserta-wawancara_section {
        // display: flex;
        padding: 80px;
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 40px;

        .note-search {
            // z-index: 100;
            // display: flex;
            // flex-direction: column;
            // width: 100%;
            // gap: 32px;
            // margin-bottom: -40px;
    
            .notes {
                // margin-top: 28px;
                // display: flex;
                // padding: 16px;
                // gap: 32px;
                // justify-content: space-between;
                // align-items: center;
                // align-self: stretch;
                // border-radius: 12px;
                // border: 1px solid #FCB369;
                // background: rgba(252, 179, 105, 0.12);
    
                p {
                    // color: #ffa246;
                    // font-size: 18px;
                    // text-align: left;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
    
                img {
                    // width: 28px;
                    // height: 28px;
                
                }
            }
        
            .search_wrapper {
                // display: flex;
                // width: 100%;
        
                input {
                    // display: flex;
                    padding: 24px 32px;
                    // border-radius: 0px 12px 0px 0px;
                    // border: none;
                    // border-left: 4px solid #4504AA;
                    // background: #F1E9FF;
                    // width: 100%;
                    // font-family: "Gill Sans Nova";
                    font-size: 20px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
            }
        }
    
        .peserta-wawancara_content {
            // display: flex;
            padding: 32px;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 4px;
            // align-self: stretch;
            // border-radius: 0px 12px 12px 0px;
            // border-left: 4px solid var(--Top-right-purple, #4504AA);
            // background: #F8F4FF;
    
            .top_thing {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
    
                p {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 20px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
    
                h1 {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 32px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
            }
    
            .peserta_wrapper {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
                // align-self: stretch;
    
                .each_peserta {
                    // display: flex;
                    padding: 12px 0px;
                    // justify-content: space-between;
                    // align-items: flex-start;
                    // align-self: stretch;
                    // border-bottom: 2px solid #EBE0FF;
    
                    .name {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 20px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    .time-nim {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 20px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px){
    .peserta-wawancara_section {
        // display: flex;
        padding: 40px;
        // flex-direction: column;
        // align-items: flex-start;
        gap: 20px;

        .note-search {
            // z-index: 100;
            // display: flex;
            // flex-direction: column;
            // width: 100%;
            gap: 20px;
            // margin-bottom: -6px;
    
            .notes {
                // margin-top: 28px;
                // display: flex;
                // padding: 16px;
                // gap: 32px;
                // justify-content: space-between;
                // align-items: center;
                // align-self: stretch;
                // border-radius: 12px;
                // border: 1px solid #FCB369;
                // background: rgba(252, 179, 105, 0.12);
    
                p {
                    // color: #ffa246;
                    // font-size: 18px;
                    // text-align: left;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
    
                img {
                    // width: 28px;
                    // height: 28px;
                
                }
            }
        
            .search_wrapper {
                // display: flex;
                // width: 100%;
        
                input {
                    // display: flex;
                    padding: 16px 20px;
                    // border-radius: 0px 12px 0px 0px;
                    // border: none;
                    // border-left: 4px solid #4504AA;
                    // background: #F1E9FF;
                    // width: 100%;
                    // font-family: "Gill Sans Nova";
                    font-size: 16px;
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: normal;
                }
            }
        }
    
        .peserta-wawancara_content {
            // display: flex;
            padding: 40px 20px 20px 20px;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 4px;
            // align-self: stretch;
            // border-radius: 0px 12px 12px 0px;
            // border-left: 4px solid var(--Top-right-purple, #4504AA);
            // background: #F8F4FF;
    
            .top_thing {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
    
                p {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 16px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
    
                h1 {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 24px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
            }
    
            .peserta_wrapper {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
                // align-self: stretch;
    
                .each_peserta {
                    // display: flex;
                    padding: 8px 0px;
                    // justify-content: space-between;
                    // align-items: flex-start;
                    // align-self: stretch;
                    // border-bottom: 2px solid #EBE0FF;
    
                    .name {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 16px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    .time-nim {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 16px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px){
    .peserta-wawancara_section {
        // display: flex;
        padding: 20px 16px;
        // flex-direction: column;
        // align-items: flex-start;
        gap: 16px;

        .notes {
            margin-top: 20px;
            // display: flex;
            // padding: 16px;
            gap: 28px;
            // justify-content: space-between;
            // align-items: center;
            // align-self: stretch;
            // border-radius: 12px;
            // border: 1px solid #FCB369;
            // background: rgba(252, 179, 105, 0.12);

            p {
                // color: #ffa246;
                font-size: 16px;
                // text-align: left;
                // font-style: normal;
                // font-weight: 500;
                // line-height: normal;
            }

            img {
                // width: 24px;
                // height: 24px;            
            }
        }
    
        .peserta-wawancara_content {
            // display: flex;
            padding: 32px 16px 16px 16px;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 4px;
            // align-self: stretch;
            // border-radius: 0px 12px 12px 0px;
            // border-left: 4px solid var(--Top-right-purple, #4504AA);
            // background: #F8F4FF;
    
            .top_thing {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
    
                p {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 16px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
    
                h1 {
                    // color: var(--Top-right-purple, #4504AA);
                    // font-family: "Gill Sans Nova";
                    font-size: 22px;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: normal;
                }
            }
    
            .peserta_wrapper {
                // display: flex;
                // flex-direction: column;
                // align-items: flex-start;
                // align-self: stretch;
    
                .each_peserta {
                    // display: flex;
                    padding: 6px 0px;
                    // justify-content: space-between;
                    // align-items: flex-start;
                    // align-self: stretch;
                    // border-bottom: 2px solid #EBE0FF;
    
                    .name {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 16px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    .time-nim {
                        // color: rgba(0, 0, 0, 0.80);
                        // font-family: "Gill Sans Nova";
                        font-size: 16px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
                }
            }
        }
    }
}