@keyframes shine {
    0% {
        left: -100%;
        transform: skewX(-20deg);
    }
    100% {
        left: 100%;
        transform: skewX(20deg);
    }
}

@keyframes vibrate {
    0%, 100% { transform: translate(0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
}

.ann_card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 28px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    height: auto;
    border-radius: 20px;
    border: 1.5px solid #ffffff88;
    background: rgba(255, 255, 255, 0.321);
    box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(7.099999904632568px);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    overflow: hidden;

    .text_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        .title_and_desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0px;

            h3 {
                color: #FFF;
                text-align: left;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            p {
                color: #ffffffc9;
                text-align: left;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .schedule {
            display: flex;
            align-items: left;

            .date {
                display: flex;
                align-items: center;
                gap: 12px;
                border: 1px solid white;
                padding: 8px 20px;
                border-radius: 100px 0px 0px 100px;
                
                img {
                    width: 24px;
                    height: 24px;
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            
            .countdown {
                color: #FFF;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: 1px solid white;
                padding: 8px 20px;
                border-radius: 0px 100px 100px 0px;
            }
        }
    }

    .cta_button {
        button {
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 100px;
            border: none;
            background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
            transition: box-shadow 0.1s ease-in-out;

            color: #FFF;
            text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
            font-size: 18px;
            font-family: 'GSN';
            font-style: normal;
            font-weight: 500;
            line-height: normal;
                
            cursor: pointer;

            overflow: hidden;

            img {
                width: 20px;
                height: 20px;
            }
        }

        button:active {
            padding: 12px 24px 10px 24px;
            background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
        }
    }

    .label {
        position: absolute;
        top: -20px;
        left: -20px;
        display: flex;
        background-color: white;
        padding: 8px 32px;
        border-radius: 100px;
        transform: rotate(-10deg);
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);

        p {
            color: #4504AA;
            font-size: 18px;
            font-weight: 500;
            font-family: 'GSN';
        }
    }
}

.ann_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.3);
}

.highlight {
    
}

@media screen and (max-width: 1440px){
    .ann_card {
        .text_section {
            gap: 32px;
    
            .title_and_desc {
                h3 {
                }
    
                p {
                }
            }
    
            .schedule {
                .date {
                    gap: 8px;
                    margin-right: -1px;

                    img {
                        width: 22px;
                        height: 22px;
                    }
    
                    p {
                    }
                }
                
                .countdown {
                }
            }
        }
    
        .cta_button {
            button {
                img {
                }
            }
    
            button:hover {
            }
    
            button:active {
            }
    
        }
    }
    
    .ann_card:hover {
    }
}

@media screen and (max-width: 1200px){
    .ann_card {
        flex-direction: column;
        padding: 32px;
        gap: 32px;
        align-self: stretch;
    
        .text_section {
            width: 100%;
            align-items: center;
            gap: 32px;
    
            .title_and_desc {
                h3 {
                }
    
                p {
                }
            }
    
            .schedule {    
                .date {
                    img {
                    }
    
                    p {
                    }
                }
                
                .countdown {
                }
            }
        }
    
        .cta_button {
            button {
                width: 100%;

                img {
                }
            }
    
            button:hover {
            }
    
            button:active {
            }
    
        }
    }
    
    .ann_card:hover {
    }
}

@media screen and (max-width: 810px){
    .ann_card {
        padding: 24px;
        gap: 32px;
        width: initial;
        transition: none;
    
        .text_section {
            gap: 20px;
    
            .title_and_desc {
                h3 {
                    font-size: 24px;
                }
    
                p {
                    font-size: 22px;
                }
            }
    
            .schedule {    
                .date {
                    align-items: left;

                    img {
                    }
    
                    p {
                        text-align: left;
                    }
                }
                
                .countdown {
                    text-align: left;
                }
            }
        }
    
        .cta_button {
            button {
                img {
                    width: 20px;
                    height: 20px;
                }
    
                font-size: 18px;
            }
    
            button:hover {
            }
    
            button:active {
            }
    
        }
    }
    
    .ann_card:hover {
        transform: none;
        box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 560px){
    .ann_card {
        width: initial;
        padding: 16px;
        gap: 32px;
    
        .text_section {
            .title_and_desc {
                gap: 4px;
    
                h3 {
                    font-size: 20px;
                }
    
                p {
                    font-size: 18px;
                }
            }
    
            .schedule {    
                .date {
                    padding: 8px 10px;

                    img {
                        width: 18px;
                        height: 18px;
                    }
    
                    p {
                        font-size: 16px;
                    }
                }
                
                .countdown {
                    text-align: left;
                    font-size: 16px;
                    padding: 8px 10px;
                }
            }
        }
    
        .cta_button {
            width: 100%;
    
            button {
                img {
                    width: 20px;
                    height: 20px;
                }
    
                font-size: 16px;
            }
    
            button:hover {
            }
    
            button:active {
            }
    
        }

        .label {
            position: absolute;
            top: -20px;
            left: -12px;
            display: flex;
            background-color: white;
            padding: 6px 32px;
            border-radius: 100px;
            transform: rotate(-10deg);
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
    
            p {
                color: #4504AA;
                font-size: 16px;
                font-weight: 500;
                font-family: 'GSN';
            }
        }
    }
    
    .ann_card:hover {
    }
}

@media screen and (max-width: 320px){
    .ann_card {
        padding: 16px;
    
        .text_section {
            .title_and_desc {
                h3 {
                    font-size: 16px;
                }
    
                p {
                    font-size: 14px;
                }
            }
    
            .schedule {
                .date {
                    img {
                        width: 18px;
                        height: 18px;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }
                
                .countdown {
                    font-size: 14px;
                    border: none;
                    padding: 0;
                    border-radius: 0px;
                }
            }
        }
    
        .cta_button {
            button {
                img {
                    width: 18px;
                    height: 18px;
                }
    
                font-size: 14px;
            }
    
            button:hover {
            }
    
            button:active {
            }
        }
    }
}