.bingkaiResmi_section {
    display: flex;
    flex-direction: column;
    padding: 40px 160px;
    gap: 40px;
    overflow: visible;

    .progress-bar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 400px;
        margin: auto;
      
        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 34%;
      
          &::before {
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 3px solid white;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background-color: #e0e0e07c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #666;
            margin-bottom: 8px;
          }
      
          &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: calc(50% + 15px);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            width: calc(100% - 30px);
            height: 2.5px;
            background-color: #e0e0e0;
          }
      
          &:last-child::after {
            display: none;
          }
      
          &.active {
            &::before {
              background-color: #4504AA;
            }
      
            &::after {
              background-color: #4504AA;
            }
          }
        }
    }

    .step-1 {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        gap: 60px;

        .image-kiri {
            overflow: hidden;
            width: 520px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .konten-kanan {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 60%;

            h1 {
                text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .the-form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .the-input {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    p {
                        padding-left: 4px;
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                    }

                    input {
                        padding: 8px 8px 8px 12px;
                        border: 1.5px solid rgba(0, 0, 0, 0.1);
                        border-radius: 12px;
                        height: 30px;

                        font-family: 'GSN';
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.8);
                    }

                    select {
                        padding: 8px 8px 8px 12px;
                        border: 1.5px solid rgba(0, 0, 0, 0.1);
                        border-radius: 12px;

                        font-family: 'GSN';
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.8);
                    }

                    .custom-file-input {
                        display: flex;
                        flex-direction: row;
                        background-color: #cabbf938 !important;
                        align-items: center;
                        padding: 32px;
                        border-radius: 16px;
                        gap: 20px;
                      
                        .upload-button {
                            width: fit-content;
                            height: fit-content;
                            display: flex;
                            padding: 6px 12px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 100px;
                            border: 2px solid #4504AA;
                            background: none;
                            box-shadow: none;
                            transition: all 0.1s ease-in-out;
                
                            color: #4504AA;
                            font-family: 'GSN';
                            text-shadow: none;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                                
                            cursor: pointer;
                        }
                      
                        .file-preview {
                          display: flex;
                          align-items: center;
                          padding-left: 20px;
                          border-left: 1px solid rgba(0, 0, 0, 0.193);
                      
                          img {
                            border-radius: 12px;
                            border: 3px solid white;
                            width: 80px;
                            height: 80px;
                            object-fit: cover;
                            margin-right: 10px;
                            transform: rotate(5deg);
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                          }
                      
                          span {
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.6);
                          }
                        }
                    }
                }
            }
            
            .cta_button {
                button {
                    display: flex;
                    padding: 12px 22px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 100px;
                    border: none;
                    background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                    transition: all 0.1s ease-in-out;
        
                    color: #FFF;
                    font-family: 'GSN';
                    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                        
                    cursor: pointer;
        
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }

                .dinamika-button {
                    border: 2px solid #4504AA;
                    background: none;
                    box-shadow: none;
                    color: #4504AA;
                    text-shadow: none;
                }

                .dinamika-button:hover {
                    background: #3c059513;
                }

                .dinamika-button:active {
                    padding: none;
                    background: #3c059513;
                    box-shadow: none;
                }
        
                button:active {
                    padding: 12px 22px 10px 22px;
                    background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
                }
            }
        }
    }

    .step-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h1 {
            text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .konvajs-content {
            border-radius: 32px !important;
            overflow: hidden;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border: 4px solid rgb(255, 255, 255);
            width: 500px !important;
            height: 500px !important;

            canvas {
                width: 500px !important;
                height: 500px !important;
            }
        }

        .note-kecil {
            border-radius: 12px;
            padding: 16px;
            border: 2px solid #4504AA;
            background-color: #cabbf938;
            
            p {
                color: #3D0595;
            }
        }

        .cta_button {
            button {
                display: flex;
                padding: 12px 22px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 100px;
                border: none;
                background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
                box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                transition: all 0.1s ease-in-out;
    
                color: #FFF;
                font-family: 'GSN';
                text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                    
                cursor: pointer;
    
                img {
                    width: 22px;
                    height: 22px;
                }
            }

            .dinamika-button {
                border: 2px solid #4504AA;
                background: none;
                box-shadow: none;
                color: #4504AA;
                text-shadow: none;
            }

            .dinamika-button:hover {
                background: #3c059513;
            }

            .dinamika-button:active {
                padding: none;
                background: #3c059513;
                box-shadow: none;
            }
    
            button:active {
                padding: 12px 22px 10px 22px;
                background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
            }
        }

        .zoom-slider {
            margin-top: 10px;
            display: flex;
            align-items: center;
            
            input {
              width: 200px;
              margin-right: 10px;
            }

            input[type=range] {
              -webkit-appearance: none;
              background-color: rgba(0, 0, 0, 0.1);
              height: 6px;
              border-radius: 100px;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 24px;
                height: 24px;
                background: #4504AA;
                border: 2px solid white;
                cursor: pointer;
                border-radius: 50%;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              }
            
            span {
              font-size: 14px;
            }
        }

        .button-wrapper {
            border-top: 2px solid rgba(0, 0, 0, 0.05);
            padding-top: 20px;
            width: 100%;
            justify-content: flex-end;
            display: flex;
            align-items: center;
            gap: 16px;

            .cta_button {
                button {
                    display: flex;
                    padding: 12px 22px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 100px;
                    border: none;
                    background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                    transition: all 0.1s ease-in-out;
        
                    color: #FFF;
                    font-family: 'GSN';
                    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                        
                    cursor: pointer;
        
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }

                .dinamika-button {
                    border: 2px solid #4504AA;
                    background: none;
                    box-shadow: none;
                    color: #4504AA;
                    text-shadow: none;
                }

                .dinamika-button:hover {
                    background: #3c059513;
                }

                .dinamika-button:active {
                    padding: none;
                    background: #3c059513;
                    box-shadow: none;
                }
        
                button:active {
                    padding: 12px 22px 10px 22px;
                    background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
                }
            }
        }
    }

    .step-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
            text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24), 0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: linear-gradient(180deg, #CABBF9 0%, #4504AA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .the-literally-content {
            display: flex;
            gap: 60px;
            align-items: center;

            .konvajs-content {
                border-radius: 32px !important;
                overflow: hidden;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border: 4px solid rgb(255, 255, 255);
                width: 500px !important;
                height: 500px !important;
    
                canvas {
                    width: 500px !important;
                    height: 500px !important;
                }

                // transform: rotate(-2deg);
            }

            .text-to-copy {
                display: flex;
                flex-direction: column;
                gap: 12px;

                p {
                    font-size: 20px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.6);

                    b {
                        font-weight: 600;
                    }
                }

                p:hover {
                    color: rgba(0, 0, 0, 0.8);
                }

                .button-wrapper-fixed {
                    display: flex;
                    gap: 16px;
                    align-items: center;
        
                    .cta_button {
                        button {
                            display: flex;
                            padding: 12px 22px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 100px;
                            border: none;
                            background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
                            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                            transition: all 0.1s ease-in-out;
                
                            color: #FFF;
                            font-family: 'GSN';
                            text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                                
                            cursor: pointer;
                
                            img {
                                width: 22px;
                                height: 22px;
                            }
                        }
        
                        .dinamika-button {
                            border: 2px solid #4504AA;
                            background: none;
                            box-shadow: none;
                            color: #4504AA;
                            text-shadow: none;
                        }
        
                        .dinamika-button:hover {
                            background: #3c059513;
                        }
        
                        .dinamika-button:active {
                            padding: none;
                            background: #3c059513;
                            box-shadow: none;
                        }
                
                        button:active {
                            padding: 12px 22px 10px 22px;
                            background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
                        }
                    }
                }
            }
        }

        .button-wrapper {
            border-top: 2px solid rgba(0, 0, 0, 0.05);
            padding-top: 20px;
            width: 100%;
            justify-content: flex-start;
            display: flex;
            align-items: center;
            gap: 16px;

            .cta_button {
                button {
                    display: flex;
                    padding: 12px 22px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 100px;
                    border: none;
                    background: linear-gradient(169deg, #9879D4 8.3%, #4504AA 91.79%);
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2), 0px -4px 8px 0px rgba(0, 0, 0, 0.2) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
                    transition: all 0.1s ease-in-out;
        
                    color: #FFF;
                    font-family: 'GSN';
                    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                        
                    cursor: pointer;
        
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }

                .dinamika-button {
                    border: 2px solid #4504AA;
                    background: none;
                    box-shadow: none;
                    color: #4504AA;
                    text-shadow: none;
                }

                .dinamika-button:hover {
                    background: #3c059513;
                }

                .dinamika-button:active {
                    padding: none;
                    background: #3c059513;
                    box-shadow: none;
                }
        
                button:active {
                    padding: 12px 22px 10px 22px;
                    background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.1) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px){
    .bingkaiResmi_section {
        padding: 40px 100px;
    
        .progress-bar {
            .step {          
              &::before {
              }
          
              &::after {
              }
          
              &:last-child::after {
              }
          
              &.active {
                &::before {
                }
          
                &::after {
                }
              }
            }
        }
    
        .step-1 {
            gap: 40px;
    
            .image-kiri {
                width: 500px;
    
                img {
                }
            }
    
            .konten-kanan {
                h1 {
                }
    
                .the-form {    
                    .the-input {    
                        p {
                        }
    
                        input {
                        }
    
                        select {
                        }
    
                        .custom-file-input {                          
                            .upload-button {
                            }
                          
                            .file-preview {
                              img {
                              }
                          
                              span {
                              }
                            }
                        }
                    }
                }
                
                .cta_button {
                    button {
                        img {
                        }
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-2 {    
            h1 {
            }
    
            .konvajs-content {    
                canvas {
                }
            }
    
            .note-kecil {
                p {
                }
            }
    
            .cta_button {
                button {
                    img {
                    }
                }
    
                .dinamika-button {
                }
    
                .dinamika-button:hover {
                }
    
                .dinamika-button:active {
                }
        
                button:active {
                }
            }
    
            .button-wrapper {
                .cta_button {
                    button {                            
                        img {
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-3 {    
            h1 {
            }
    
            .the-literally-content {
                gap: 40px;

                .konvajs-content {
                    width: 400px !important;
                    height: 400px !important;

                    canvas {
                        width: 400px !important;
                        height: 400px !important;
                    }
                }
    
                .text-to-copy {
                    gap: 8px;
    
                    p {
                        b {
                        }
                    }
    
                    p:hover {
                    }
    
                    .button-wrapper-fixed {
                        .cta_button {
                            button {                                    
                                img {
                                }
                            }
            
                            .dinamika-button {
                            }
            
                            .dinamika-button:hover {
                            }
            
                            .dinamika-button:active {
                            }
                    
                            button:active {
                            }
                        }
                    }
                }
            }
    
            .button-wrapper {    
                .cta_button {
                    button {
                        img {
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .bingkaiResmi_section {
        padding: 40px 80px;
    
        .progress-bar {
            .step {          
              &::before {
              }
          
              &::after {
              }
          
              &:last-child::after {
              }
          
              &.active {
                &::before {
                }
          
                &::after {
                }
              }
            }
        }
    
        .step-1 {
            gap: 40px;
    
            .image-kiri {
                display: none;
                width: 500px;
    
                img {
                }
            }
    
            .konten-kanan {
                width: 100%;

                h1 {
                    text-align: center;
                }
    
                .the-form {    
                    .the-input {    
                        p {
                        }
    
                        input {
                        }
    
                        select {
                        }
    
                        .custom-file-input {                          
                            .upload-button {
                            }
                          
                            .file-preview {
                              img {
                              }
                          
                              span {
                              }
                            }
                        }
                    }
                }
                
                .cta_button {
                    width: 100%;

                    button {
                        margin: auto;

                        img {
                        }
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-2 {    
            h1 {
            }
    
            .konvajs-content {    
                width: 500px !important;
                height: 500px !important;

                canvas {
                    width: 500px !important;
                    height: 500px !important;
                }
            }
    
            .note-kecil {
                p {
                }
            }
    
            .cta_button {
                button {
                    img {
                    }
                }
    
                .dinamika-button {
                }
    
                .dinamika-button:hover {
                }
    
                .dinamika-button:active {
                }
        
                button:active {
                }
            }
    
            .button-wrapper {
                .cta_button {
                    button {                            
                        img {
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-3 {    
            h1 {
            }
    
            .the-literally-content {
                flex-direction: column;
                gap: 40px;

                .konvajs-content {
                    canvas {
                    }
                }
    
                .text-to-copy {
                    margin-top: -100px;
                    background-color: #cabbf929;
                    padding: 100px 32px 32px 32px;
                    border-radius: 20px;
                    gap: 8px;
    
                    p {
                        font-size: 18px;
                        b {
                        }
                    }
    
                    p:hover {
                    }
    
                    .button-wrapper-fixed {
                        .cta_button {
                            button {                                    
                                img {
                                }
                            }
            
                            .dinamika-button {
                            }
            
                            .dinamika-button:hover {
                            }
            
                            .dinamika-button:active {
                            }
                    
                            button:active {
                            }
                        }
                    }
                }
            }
    
            .button-wrapper {    
                .cta_button {
                    button {
                        img {
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px){
    .bingkaiResmi_section {
        padding: 40px;
    
        .progress-bar {
            .step {          
              &::before {
              }
          
              &::after {
              }
          
              &:last-child::after {
              }
          
              &.active {
                &::before {
                }
          
                &::after {
                }
              }
            }
        }
    
        .step-1 {    
            .image-kiri {
                img {
                }
            }
    
            .konten-kanan {
                h1 {
                    font-size: 40px;
                }
    
                .the-form {    
                    .the-input {    
                        p {
                        }
    
                        input {
                        }
    
                        select {
                        }
    
                        .custom-file-input {                          
                            .upload-button {
                            }
                          
                            .file-preview {
                              img {
                              }
                          
                              span {
                              }
                            }
                        }
                    }
                }
                
                .cta_button {
                    button {
                        font-size: 18px;

                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-2 {    
            h1 {
                font-size: 40px;
            }
    
            .konvajs-content {    
                width: 400px !important;
                height: 400px !important;

                canvas {
                    width: 400px !important;
                    height: 400px !important;
                }
            }
    
            .note-kecil {
                p {
                }
            }
    
            .cta_button {
                button {
                    font-size: 18px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
    
                .dinamika-button {
                }
    
                .dinamika-button:hover {
                }
    
                .dinamika-button:active {
                }
        
                button:active {
                }
            }
    
            .button-wrapper {
                justify-content: center;

                .cta_button {
                    button {   
                        font-size: 18px;
                                                 
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-3 {    
            h1 {
                font-size: 40px;
            }
    
            .the-literally-content {
                .konvajs-content {
                    canvas {
                    }
                }
    
                .text-to-copy {    
                    p {
                        font-size: 18px;
                        b {
                        }
                    }
    
                    p:hover {
                    }
    
                    .button-wrapper-fixed {
                        .cta_button {
                            button {      
                                font-size: 18px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
            
                            .dinamika-button {
                            }
            
                            .dinamika-button:hover {
                            }
            
                            .dinamika-button:active {
                            }
                    
                            button:active {
                            }
                        }
                    }
                }
            }
    
            .button-wrapper {    
                .cta_button {
                    button {
                        font-size: 18px;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px){
    .bingkaiResmi_section {
        padding: 40px 16px;
    
        .progress-bar {
            .step {          
              &::before {
              }
          
              &::after {
              }
          
              &:last-child::after {
              }
          
              &.active {
                &::before {
                }
          
                &::after {
                }
              }
            }
        }
    
        .step-1 {    
            .image-kiri {
                img {
                }
            }
    
            .konten-kanan {
                gap: 12px;

                h1 {
                    font-size: 32px;
                }
    
                .the-form {    
                    .the-input {    
                        p {
                            font-size: 14px;
                        }
    
                        input {
                        }
    
                        select {
                        }
    
                        .custom-file-input { 
                            padding: 16px;

                            .upload-button {
                            }
                          
                            .file-preview {

                              img {
                              }
                          
                              span {
                              }
                            }
                        }
                    }
                }
                
                .cta_button {
                    width: 100%;

                    button {
                        font-size: 16px;
                        width: 100%;

                        img {
                        }
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-2 {    
            h1 {
                font-size: 32px;
            }
    
            .konvajs-content {    
                width: 320px !important;
                height: 320px !important;

                canvas {
                    width: 320px !important;
                    height: 320px !important;
                }
            }
    
            .note-kecil {
                p {
                }
            }
    
            .cta_button {
                button {
                    font-size: 16px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
    
                .dinamika-button {
                }
    
                .dinamika-button:hover {
                }
    
                .dinamika-button:active {
                }
        
                button:active {
                }
            }
    
            .button-wrapper {
                .cta_button {
                    width: 100%;

                    button {   
                        width: 100%;
                        font-size: 16px;
                                                 
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }

        .step-3 {    
            h1 {
                font-size: 32px;
            }
    
            .the-literally-content {
                .konvajs-content {
                    width: 320px !important;
                    height: 320px !important;

                    canvas {
                        width: 320px !important;
                        height: 320px !important;
                    }
                }
    
                .text-to-copy {  
                    margin-top: -120px;
                    padding: 100px 16px 16px 16px;

                    p {
                        b {
                        }
                    }
    
                    p:hover {
                    }
    
                    .button-wrapper-fixed {
                        width: 100%;

                        .cta_button {
                            width: 100%;

                            button {     
                                width: 100%; 
                                font-size: 16px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
            
                            .dinamika-button {
                            }
            
                            .dinamika-button:hover {
                            }
            
                            .dinamika-button:active {
                            }
                    
                            button:active {
                            }
                        }
                    }
                }
            }
    
            .button-wrapper {    
                .cta_button {
                    button {
                        font-size: 16px;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
    
                    .dinamika-button {
                    }
    
                    .dinamika-button:hover {
                    }
    
                    .dinamika-button:active {
                    }
            
                    button:active {
                    }
                }
            }
        }
    }
}