@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ModalNilai.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 0, 33, 0.676);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* backdrop-filter: blur(12px); */
  .modal-nilai {
    overflow: hidden;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    border-radius: 26px;
    padding: 8px;
    max-height: 80vh;
    background: #ffffffcc;
    backdrop-filter: blur(12px);
    box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
    animation: fadeInFromBottom 0.5s ease forwards;
    gap: 8px;

    .close_button {
      position: absolute;
      top: 20px;
      right: 20px;
      border: 1px solid rgb(216, 216, 216);
      background: #ffffff82;
      backdrop-filter: blur(4px);
      box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      border-radius: 100px;
      display: flex;
      padding: 8px;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      align-self: stretch;

      img {
        width: 20px;
        height: 20px;
        opacity: 0.8;
        cursor: pointer;
      }
    }

    .content_section {
      border: 1px solid rgb(199, 199, 199);
      background-color: #ffffff;
      border-radius: 20px;
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      align-self: stretch;
      max-height: calc(
        80vh - 100px
      ); /* Adjust the max height of the content section */
      overflow-y: auto;

      .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;

        .nilai_desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0px; /* Ensure there's no gap between title and subtitle */
          align-self: stretch;
        }

        .modal_title {
          text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            0px 4px 12px rgba(129, 87, 206, 0.25),
            0px 2px 4px rgba(0, 0, 0, 0.12);
          font-size: 32px;
          text-align: center;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0; /* Remove any default margin */
          padding: 0; /* Remove any default padding */
        }

        .modal_subtitle {
          color: #4504aa;
          font-size: 24px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
          margin: 0; /* Remove any default margin */
          padding: 0; /* Remove any default padding */
        }

        .modal_content {
          .fakultas-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px 0px 20px 0px;
            gap: 20px;
            .fakultas-item{
              flex-direction: row;
              display: flex;
              align-items: start;
              .baju-fakultas{
                display: flex;
                align-items: flex-start;
                width: 110px;
              }
              .fakultas-text-wrapper{
                .warna-kuning{
                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                  background-color: #E5D551;
                  padding: 8px 16px;
                  text-align: left;
                  border-radius: 100px;
                  width: 180px;
                }
                .warna-hitam{
                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                  background-color: #404040;
                  padding: 8px 16px;
                  text-align: left;
                  border-radius: 100px;
                  width: 176px;
                }
                .warna-jingga{
                  text-align: center;

                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                  background-color: #C46732;
                  padding: 8px 16px;
                  text-align: left;
                  border-radius: 100px;
                  width: 224px;
                }
                .warna-abu{
                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                  background-color: #838383;
                  padding: 8px 16px;
                  text-align: left;
                  border-radius: 100px;
                  width: 240px;
                }
                p{
                  font-size: 16px;
                  width: 280px;
                  padding: 4px 0px 0px 6px;
                }
              }
            }
          }
          color: rgba(0, 0, 0, 0.8);
          text-align: justify;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          align-self: stretch;
          margin: 20px 0 0 0; /* Add margin-top to create space above */
          padding: 0; /* Remove any default padding */
        }
      }
    }
  }
}


@media screen and (max-width: 1440px) {
  .modal-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(18, 0, 33, 0.676);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 1000;
    /* backdrop-filter: blur(12px); */
    .modal-nilai {
      // overflow: hidden;
      // display: flex;
      max-width: 800px;
      // flex-direction: column;
      // align-items: center;
      // border-radius: 26px;
      // padding: 8px;
      max-height: 72vh;
      // background: #ffffffcc;
      // backdrop-filter: blur(12px);
      // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      // animation: fadeInFromBottom 0.5s ease forwards;
      // gap: 8px;
  
      .close_button {
        // position: absolute;
        // top: 24px;
        // right: 24px;
        // border: 1px solid rgb(216, 216, 216);
        // background: #ffffff82;
        // backdrop-filter: blur(4px);
        // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
        // border-radius: 100px;
        // display: flex;
        // padding: 12px;
        // flex-direction: column;
        // align-items: flex-end;
        // gap: 10px;
        // align-self: stretch;
  
        img {
          // width: 24px;
          // height: 24px;
          // opacity: 0.8;
          // cursor: url("../../images/cursor-pointer.svg") auto;
        }
      }
  
      .content_section {
        // border: 1px solid rgb(199, 199, 199);
        // background-color: #ffffff;
        // border-radius: 20px;
        // display: flex;
        // padding: 32px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
        // align-self: stretch;
        // max-height: calc(
        //   80vh - 100px
        // ); 
        // overflow-y: auto;
  
        .text {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          gap: 12px;
          // width: 100%;
  
          .nilai_desc {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 0px; /* Ensure there's no gap between title and subtitle */
            // align-self: stretch;
          }
  
          .modal_title {
            // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            //   0px 4px 12px rgba(129, 87, 206, 0.25),
            //   0px 2px 4px rgba(0, 0, 0, 0.12);
            // font-size: 32px;
            // text-align: center;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            // background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_subtitle {
            // color: #4504aa;
            // font-size: 24px;
            // font-style: italic;
            // font-weight: 600;
            // line-height: normal;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_content {
            .fakultas-wrapper{
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items: center;
              // padding: 20px 0px 20px 0px;
              // gap: 20px;
              .fakultas-item{
                // flex-direction: row;
                // display: flex;
                // align-items: start;
                .baju-fakultas{
                  // display: flex;
                  // align-items: flex-start;
                  // width: 110px;
                }
                .fakultas-text-wrapper{
                  .warna-kuning{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #E5D551;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-hitam{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #404040;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-jingga{
                    // text-align: center;
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #C46732;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 224px;
                  }
                  .warna-abu{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #838383;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 240px;
                  }
                  p{
                    // font-size: 16px;
                    width: 280px;
                    // padding: 4px 0px 0px 6px;
                  }
                }
              }
            }
            // color: rgba(0, 0, 0, 0.8);
            // text-align: justify;
            // font-size: 20px;
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            // align-self: stretch;
            // margin: 20px 0 0 0; /* Add margin-top to create space above */
            // padding: 0; /* Remove any default padding */
          }
        }
      }
    }
  }
  
}


@media screen and (max-width: 1200px) {
  .modal-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(18, 0, 33, 0.676);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 1000;
    /* backdrop-filter: blur(12px); */
    .modal-nilai {
      // overflow: hidden;
      // display: flex;
      max-width: 700px;
      // flex-direction: column;
      // align-items: center;
      // border-radius: 26px;
      // padding: 8px;
      max-height: 80vh;
      // background: #ffffffcc;
      // backdrop-filter: blur(12px);
      // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      // animation: fadeInFromBottom 0.5s ease forwards;
      // gap: 8px;
  
      .close_button {
        // position: absolute;
        // top: 24px;
        // right: 24px;
        // border: 1px solid rgb(216, 216, 216);
        // background: #ffffff82;
        // backdrop-filter: blur(4px);
        // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
        // border-radius: 100px;
        // display: flex;
        // padding: 12px;
        // flex-direction: column;
        // align-items: flex-end;
        // gap: 10px;
        // align-self: stretch;
  
        img {
          // width: 24px;
          // height: 24px;
          // opacity: 0.8;
          // cursor: url("../../images/cursor-pointer.svg") auto;
        }
      }
  
      .content_section {
        // border: 1px solid rgb(199, 199, 199);
        // background-color: #ffffff;
        // border-radius: 20px;
        // display: flex;
        // padding: 32px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
        // align-self: stretch;
        // max-height: calc(
        //   80vh - 100px
        // ); 
        // overflow-y: auto;
  
        .text {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          gap: 12px;
          // width: 100%;
  
          .nilai_desc {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 0px; /* Ensure there's no gap between title and subtitle */
            // align-self: stretch;
          }
  
          .modal_title {
            // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            //   0px 4px 12px rgba(129, 87, 206, 0.25),
            //   0px 2px 4px rgba(0, 0, 0, 0.12);
            // font-size: 32px;
            // text-align: center;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            // background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_subtitle {
            // color: #4504aa;
            // font-size: 24px;
            // font-style: italic;
            // font-weight: 600;
            // line-height: normal;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_content {
            .fakultas-wrapper{
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items: center;
              // padding: 20px 0px 20px 0px;
              // gap: 20px;
              .fakultas-item{
                // flex-direction: row;
                // display: flex;
                // align-items: start;
                .baju-fakultas{
                  // display: flex;
                  // align-items: flex-start;
                  // width: 110px;
                }
                .fakultas-text-wrapper{
                  .warna-kuning{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #E5D551;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-hitam{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #404040;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-jingga{
                    // text-align: center;
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #C46732;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 224px;
                  }
                  .warna-abu{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #838383;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 240px;
                  }
                  p{
                    // font-size: 16px;
                    width: 280px;
                    // padding: 4px 0px 0px 6px;
                  }
                }
              }
            }
            // color: rgba(0, 0, 0, 0.8);
            // text-align: justify;
            // font-size: 20px;
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            // align-self: stretch;
            // margin: 20px 0 0 0; /* Add margin-top to create space above */
            // padding: 0; /* Remove any default padding */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .modal-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(18, 0, 33, 0.676);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 1000;
    /* backdrop-filter: blur(12px); */
    .modal-nilai {
      // overflow: hidden;
      // display: flex;
      max-width: 600px;
      // flex-direction: column;
      // align-items: center;
      // border-radius: 26px;
      // padding: 8px;
      max-height: 60vh;
      // background: #ffffffcc;
      // backdrop-filter: blur(12px);
      // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      // animation: fadeInFromBottom 0.5s ease forwards;
      // gap: 8px;
  
      .close_button {
        // position: absolute;
        // top: 24px;
        // right: 24px;
        // border: 1px solid rgb(216, 216, 216);
        // background: #ffffff82;
        // backdrop-filter: blur(4px);
        // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
        // border-radius: 100px;
        // display: flex;
        // padding: 12px;
        // flex-direction: column;
        // align-items: flex-end;
        // gap: 10px;
        // align-self: stretch;
  
        img {
          // width: 24px;
          // height: 24px;
          // opacity: 0.8;
          // cursor: url("../../images/cursor-pointer.svg") auto;
        }
      }
  
      .content_section {
        // border: 1px solid rgb(199, 199, 199);
        // background-color: #ffffff;
        // border-radius: 20px;
        // display: flex;
        // padding: 32px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
        // align-self: stretch;
        // max-height: calc(
        //   80vh - 100px
        // ); 
        // overflow-y: auto;
  
        .text {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          gap: 12px;
          // width: 100%;
  
          .nilai_desc {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 0px; /* Ensure there's no gap between title and subtitle */
            // align-self: stretch;
          }
  
          .modal_title {
            // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            //   0px 4px 12px rgba(129, 87, 206, 0.25),
            //   0px 2px 4px rgba(0, 0, 0, 0.12);
            // font-size: 32px;
            // text-align: center;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            // background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_subtitle {
            // color: #4504aa;
            // font-size: 24px;
            // font-style: italic;
            // font-weight: 600;
            // line-height: normal;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_content {
            .fakultas-wrapper{
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items: center;
              // padding: 20px 0px 20px 0px;
              // gap: 20px;
              .fakultas-item{
                // flex-direction: row;
                // display: flex;
                // align-items: start;
                .baju-fakultas{
                  // display: flex;
                  // align-items: flex-start;
                  // width: 110px;
                }
                .fakultas-text-wrapper{
                  .warna-kuning{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #E5D551;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-hitam{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #404040;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-jingga{
                    // text-align: center;
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #C46732;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 224px;
                  }
                  .warna-abu{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #838383;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 240px;
                  }
                  p{
                    // font-size: 16px;
                    width: 280px;
                    // padding: 4px 0px 0px 6px;
                  }
                }
              }
            }
            // color: rgba(0, 0, 0, 0.8);
            // text-align: justify;
            // font-size: 20px;
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            // align-self: stretch;
            // margin: 20px 0 0 0; /* Add margin-top to create space above */
            // padding: 0; /* Remove any default padding */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .modal-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(18, 0, 33, 0.676);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 1000;
    /* backdrop-filter: blur(12px); */
    .modal-nilai {
      // overflow: hidden;
      // display: flex;
      max-width: 88%;
      // flex-direction: column;
      // align-items: center;
      // border-radius: 26px;
      // padding: 8px;
      max-height: 88vh;
      // background: #ffffffcc;
      // backdrop-filter: blur(12px);
      // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      // animation: fadeInFromBottom 0.5s ease forwards;
      // gap: 8px;
  
      .close_button {
        // position: absolute;
        // top: 24px;
        // right: 24px;
        // border: 1px solid rgb(216, 216, 216);
        // background: #ffffff82;
        // backdrop-filter: blur(4px);
        // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
        // border-radius: 100px;
        // display: flex;
        // padding: 12px;
        // flex-direction: column;
        // align-items: flex-end;
        // gap: 10px;
        // align-self: stretch;
  
        img {
          // width: 24px;
          // height: 24px;
          // opacity: 0.8;
          // cursor: url("../../images/cursor-pointer.svg") auto;
        }
      }
  
      .content_section {
        // border: 1px solid rgb(199, 199, 199);
        // background-color: #ffffff;
        // border-radius: 20px;
        // display: flex;
        // padding: 32px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
        // align-self: stretch;
        // max-height: calc(
        //   80vh - 100px
        // ); 
        // overflow-y: auto;
  
        .text {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          gap: 12px;
          // width: 100%;
  
          .nilai_desc {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 0px; /* Ensure there's no gap between title and subtitle */
            // align-self: stretch;
          }
  
          .modal_title {
            // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            //   0px 4px 12px rgba(129, 87, 206, 0.25),
            //   0px 2px 4px rgba(0, 0, 0, 0.12);
            font-size: 24px;
            // text-align: center;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            // background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_subtitle {
            // color: #4504aa;
            font-size: 20px;
            // font-style: italic;
            // font-weight: 600;
            // line-height: normal;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_content {
            .fakultas-wrapper{
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items: center;
              // padding: 20px 0px 20px 0px;
              // gap: 20px;
              .fakultas-item{
                // flex-direction: row;
                // display: flex;
                // align-items: start;
                .baju-fakultas{
                  // display: flex;
                  // align-items: flex-start;
                  // width: 110px;
                }
                .fakultas-text-wrapper{
                  .warna-kuning{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #E5D551;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-hitam{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #404040;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-jingga{
                    // text-align: center;
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #C46732;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  .warna-abu{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #838383;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 180px;
                  }
                  p{
                    // font-size: 16px;
                    width: 180px;
                    // padding: 4px 0px 0px 6px;
                  }
                }
              }
            }
            // color: rgba(0, 0, 0, 0.8);
            // text-align: justify;
            font-size: 16px;
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            // align-self: stretch;
            // margin: 20px 0 0 0; /* Add margin-top to create space above */
            // padding: 0; /* Remove any default padding */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 432px) {
  .modal-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(18, 0, 33, 0.676);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 1000;
    /* backdrop-filter: blur(12px); */
    .modal-nilai {
      // overflow: hidden;
      // display: flex;
      max-width: 88%;
      // flex-direction: column;
      // align-items: center;
      // border-radius: 26px;
      // padding: 8px;
      max-height: 88vh;
      // background: #ffffffcc;
      // backdrop-filter: blur(12px);
      // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
      // animation: fadeInFromBottom 0.5s ease forwards;
      // gap: 8px;
  
      .close_button {
        // position: absolute;
        // top: 24px;
        // right: 24px;
        // border: 1px solid rgb(216, 216, 216);
        // background: #ffffff82;
        // backdrop-filter: blur(4px);
        // box-shadow: 0px 6px 34.1px 0px rgba(0, 0, 0, 0.19);
        // border-radius: 100px;
        // display: flex;
        // padding: 12px;
        // flex-direction: column;
        // align-items: flex-end;
        // gap: 10px;
        // align-self: stretch;
  
        img {
          // width: 24px;
          // height: 24px;
          // opacity: 0.8;
          // cursor: url("../../images/cursor-pointer.svg") auto;
        }
      }
  
      .content_section {
        // border: 1px solid rgb(199, 199, 199);
        // background-color: #ffffff;
        // border-radius: 20px;
        // display: flex;
        // padding: 32px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
        // align-self: stretch;
        // max-height: calc(
        //   80vh - 100px
        // ); 
        // overflow-y: auto;
  
        .text {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          gap: 12px;
          // width: 100%;
  
          .nilai_desc {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 0px; /* Ensure there's no gap between title and subtitle */
            // align-self: stretch;
          }
  
          .modal_title {
            // text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
            //   0px 4px 12px rgba(129, 87, 206, 0.25),
            //   0px 2px 4px rgba(0, 0, 0, 0.12);
            font-size: 24px;
            // text-align: center;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            // background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_subtitle {
            // color: #4504aa;
            font-size: 20px;
            // font-style: italic;
            // font-weight: 600;
            // line-height: normal;
            // margin: 0; /* Remove any default margin */
            // padding: 0; /* Remove any default padding */
          }
  
          .modal_content {
            .fakultas-wrapper{
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items: center;
              // padding: 20px 0px 20px 0px;
              // gap: 20px;
              .fakultas-item{
                // flex-direction: row;
                // display: flex;
                // align-items: start;
                .baju-fakultas{
                  // display: flex;
                  // align-items: flex-start;
                  // width: 110px;
                }
                .fakultas-text-wrapper{
                  .warna-kuning{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #E5D551;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 100px;
                  }
                  .warna-hitam{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #404040;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 120px;
                  }
                  .warna-jingga{
                    // text-align: center;
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #C46732;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 120px;
                  }
                  .warna-abu{
                    // font-size: 16px;
                    // font-weight: 600;
                    // color: #ffffff;
                    // background-color: #838383;
                    // padding: 8px 16px;
                    // text-align: left;
                    // border-radius: 100px;
                    width: 140px;
                  }
                  p{
                    // font-size: 16px;
                    width: 160px;
                    // padding: 4px 0px 0px 6px;
                  }
                }
              }
            }
            // color: rgba(0, 0, 0, 0.8);
            // text-align: justify;
            font-size: 16px;
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            // align-self: stretch;
            // margin: 20px 0 0 0; /* Add margin-top to create space above */
            // padding: 0; /* Remove any default padding */
          }
        }
      }
    }
  }
}