.navigation-bar {
    z-index: 1000;
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    display: flex;
    width: max-content;
    margin: 0 auto;
    padding: 6px;
    border-radius: 100px;
    background: #ffffffed;
    backdrop-filter: blur(12px);
    box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.17);
  }
  
  .each-tab {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 24px;
    background: linear-gradient(169deg, #7753BE 8.25%, #3D0595 91.75%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.32) inset;
    
    &:not(.active) {
        background: none;
        background-image: none;
        box-shadow: none;
    }

    img {
      width: 28px;
      height: 28px;
    }
  
    p {
      color: #FFF;
      font-family: "GSN", sans-serif;
      font-size: 20px;
      line-height: normal;
    }
  }