.timeline_section {
  display: flex;
  padding: 100px 160px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  .vertical-timeline {
    max-width: initial;
    width: -webkit-fill-available;
    --line-color: rgba(0, 0, 0, 0.05);
    padding: 0;
  }

  .vertical-timeline-element {
    .vertical-timeline-element-content {
      display: flex;
      align-items: center;
      border: 1.5px solid rgba(69, 4, 179, 1);
      background: white;
      box-shadow: 0px 7px 12px 0px rgba(69, 4, 179, 0.2);
      border-radius: 20px;
      padding: 16px;
      gap: 20px;

      img {
        width: 120px;
        height: 100%;
        object-fit: cover;
      }

      .content-side {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .timeline-date {
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 2px 12px;
        border-radius: 100px;
        border: 1.5px solid #4504aa;
        color: #3d0595;
        font-size: 16px;
      }

      .vertical-timeline-element-title {
        font-size: 28px;
        color: rgba(69, 4, 179, 1);
        font-weight: 600;
      }

      .vertical-timeline-element-subtitle {
        margin-top: -12px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.6);
      }

      .vertical-timeline-element-date {
      }
    }
  }
}


@media screen and (max-width: 1440px){
  .timeline_section {
    padding: 40px 100px;

    .vertical-timeline {
    }
  
    .vertical-timeline-element {
      .vertical-timeline-element-content {
        gap: 12px;

        img {
          width: 160px;
        }
  
        .content-side {
          gap: 8px;
        }
  
        .timeline-date {
        }
  
        .vertical-timeline-element-title {
        }
  
        .vertical-timeline-element-subtitle {
        }
  
        .vertical-timeline-element-date {
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .timeline_section {
    padding: 40px 80px;

    .vertical-timeline {
    }
  
    .vertical-timeline-element {
      .vertical-timeline-element-content {
        img {
          width: 140px;
        }
  
        .content-side {
        }
  
        .timeline-date {
        }
  
        .vertical-timeline-element-title {
        }
  
        .vertical-timeline-element-subtitle {
        }
  
        .vertical-timeline-element-date {
        }
      }
    }
  }
}

@media screen and (max-width: 810px){
  .timeline_section {
    padding: 40px;

    .vertical-timeline {
    }
  
    .vertical-timeline-element {
      .vertical-timeline-element-content {
        padding: 8px;

        img {
          width: 120px;
        }
  
        .content-side {
        }
  
        .timeline-date {
        }
  
        .vertical-timeline-element-title {
          font-size: 24px;
        }
  
        .vertical-timeline-element-subtitle {
          margin-top: -10px;
          font-size: 16px;
        }
  
        .vertical-timeline-element-date {
        }
      }
    }
  }
}


@media screen and (max-width: 560px){
  .timeline_section {
    padding: 16px;

    .vertical-timeline {
    }
  
    .vertical-timeline-element {
      .vertical-timeline-element-content {
        padding: 16px;

        img {
          display: none;
          width: 120px;
        }
  
        .content-side {
        }
  
        .timeline-date {
          font-size: 12px;
        }
  
        .vertical-timeline-element-title {
          font-size: 20px;
        }
  
        .vertical-timeline-element-subtitle {
          margin-top: -10px;
          font-size: 16px;
        }
  
        .vertical-timeline-element-date {
        }
      }
    }
  }
}