@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.shuttle_bus_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 100px 160px;

  .shuttle_bus_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;

    h1 {
      text-shadow: 0px 4px 40px rgba(255, 255, 255, 0.24),
        0px 4px 12px rgba(129, 87, 206, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.12);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(180deg, #cabbf9 0%, #4504aa 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

			b {
        font-weight: 600;
        color: black;
      }
    }

		p:hover {
      color: rgba(0, 0, 0, 0.8);
    }

		.slider {
			position: sticky;
			top: 12px;
			display: flex;
			gap: 0px;
			border: 1.5px solid rgba(0, 0, 0, 0.056);
			justify-content: center;
			align-items: center;
			width: fit-content;
			margin: auto;
			padding: 2px;
			border-radius: 100px;
			background: white;
			box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
			z-index: 998;

			.slider-button {
					border: none;
					border-radius: 100px;
					padding: 12px 16px;
					font-size: 16px;
					font-family: 'GSN';
					background: none;
					color: rgba(0, 0, 0, 0.365);
					cursor: pointer;
			}
			.active {
					border: 2px solid #4504AA;
					border-radius: 100px;
					padding: 10px 14px;
					font-size: 16px;
					font-family: 'GSN';
					background-color: #4404aa21;
					color: #4504AA;
			}
	}
	.slider:hover {
		box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
	}

	.slider-wrapper-mobile{
		z-index: 100;
		display: none;
		margin: 4px;
		justify-content: center;
		align-items: center;
		.slider-mobile{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 24px;
				width: 100%;
				.slider-button-mobile-active{
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 10px 16px;
						gap: 16px;
						color: #4504aa;
						font-family: "Gill Sans Nova";
						font-size: 18px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						background-color: #fff;
						border-radius: 32px;
						border: 1.6px solid #F0F0F0;
						box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
						.arrow.up{
								margin-top: 2px;
								transition:cubic-bezier(0.075, 0.82, 0.165, 1);
								transition-duration: 500ms;
								scale: 124%;
						}
						.arrow.down {
								transform: rotate(-180deg);
								transition:cubic-bezier(0.075, 0.82, 0.165, 1);
								transition-duration: 500ms;
								scale: 124%;
						}
				}
				.dropdown-wrapper{
						margin-top: 20px;
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						background-color: #fff;
						border: solid 1.6px #F0F0F0;
						border-radius: 20px;
						gap: 2px;
						padding: 2px;
						margin-bottom: -200px;
						box-shadow: 0px 2px 6px rgba(9, 9, 9, 0.2);
						z-index: 100;
						.slider-button-mobile{
								cursor: pointer;
								padding: 10px 16px;
								gap: 16px;
								border: none;
								border-radius: 18px;
								width: 100%;
								color: #4504aa;
								background-color: #fff;
								font-family: "Gill Sans Nova";
								font-size: 18px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
						}
						button:active{
								color: #fff;
								background-color: #4504aa;
						}
						.slider-button-mobile:hover{
								color: #fff;
								background-color: #4504aa;
						}
				}
		}
	}
	}

  .shuttle_bus_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
		width: 100%;
		box-sizing: border-box;

    .shuttle_bus_container_card {
      border: 1.5px solid #f0f0f0;
      background: white;
      padding: 32px;
      border-radius: 20px;
			box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease-in-out;

      .shuttle_bus_timeline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .shuttle_bus_type {
          display: flex;
          flex-direction: column;
          justify-content: center;
					padding-right: 40px;
					border-right: 2px solid rgba(0, 0, 0, 0.1);

          img {
						display: none;
            width: 80px;
            height: auto;
          }

					p {
						font-size: 16px;
						color: rgba(0, 0, 0, 0.6);
					}

          .shuttle_bus_type_title {
            font-size: 24px;
            font-weight: 600;
						color: #4504AA;
          }
        }

        .right-bus {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;

					.shuttle_bus_item {
						display: flex;
						flex-direction: column;
						position: relative;
						align-items: center;
						margin: 0 80px;
	
						.shuttle_bus_card {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							gap: 12px;
	
							.shuttle_bus_image {
								border: 4px solid white;
								border-radius: 20px;
								box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.2);
								overflow: hidden;
								width: 80%;
								height: 120px;
								transform: rotate(3deg);
	
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.44));
								}
							}

							.shuttle_bus_image:hover {
								transform: translateY(-5px) rotate(-3deg);
								box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.204);
							}
	
							.shuttle_bus_time {
								font-size: 22px;
								font-weight: 600;
								text-align: center;
							}
	
							.shuttle_bus_route {
								margin-top: -8px;
								font-size: 16px;
								color: rgba(0, 0, 0, 0.6);
								text-align: center;
							}
	
							.shuttle_bus_line {
								position: absolute;
								top: 30%;
								left: calc(100% + 70px);
	
								.arrow {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%) rotate(-90deg);
	
									span {
										display: block;
										width: 12px;
										height: 12px;
										border-bottom: 2px solid #4504aa;
										border-right: 2px solid #4504aa;
										transform: rotate(45deg);
										margin: -10px;
										animation: animate 2s infinite;
									}
	
									span:nth-child(2) {
										animation-delay: -0.2s;
									}
	
									span:nth-child(3) {
										animation-delay: -0.4s;
									}
								}
							}
						}
					}
				}
      }

      .shuttle_bus_kepulangan {
				margin-top: 20px;
        display: flex;
				flex-direction: column;
				border: 2px solid #4504AA;
        background-color: #efe9fe;
				border-radius: 16px;
				padding: 16px;

        p {
          color: #4504AA;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .shuttle_bus_kepulangan_note {
          margin-top: 5px;
          font-size: 1em;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .shuttle_bus_section {
		gap: 32px;
		padding: 40px 100px;
	
		.shuttle_bus_title {
			h1 {
			}
	
			p {
				b {
				}
			}
	
			p:hover {
			}
	
			.slider {
				.slider-button {
						padding: 8px 16px;
				}
				.active {
				}
		}
		.slider:hover {
		}
		.slider-wrapper-mobile{
				.slider-mobile{
						.slider-button-mobile-active{
								.arrow.up{
								}
								.arrow.down {
								}
						}
						.dropdown-wrapper{
								.slider-button-mobile{
								}
								button:active{
								}
								.slider-button-mobile:hover{
								}
						}
				}
			}
		}
	
		.shuttle_bus_content {
			.shuttle_bus_container_card {
				.shuttle_bus_timeline {
					.shuttle_bus_type {
						img {
						}
	
						p {
						}
	
						.shuttle_bus_type_title {
						}
					}
	
					.right-bus {
						.shuttle_bus_item {
							.shuttle_bus_card {
								.shuttle_bus_image {		
									img {
									}
								}
	
								.shuttle_bus_image:hover {
								}
		
								.shuttle_bus_time {
								}
		
								.shuttle_bus_route {
								}
		
								.shuttle_bus_line {		
									.arrow {
										span {
										}
		
										span:nth-child(2) {
										}
		
										span:nth-child(3) {
										}
									}
								}
							}
						}
					}
				}
	
				.shuttle_bus_kepulangan {	
					p {
					}
	
					.shuttle_bus_kepulangan_note {
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.shuttle_bus_section {
		padding: 80px;
	
		.shuttle_bus_title {
			h1 {
			}
	
			p {
				b {
				}
			}
	
			p:hover {
			}
	
			.slider {
				display: none;
				.slider-button {
				}
				.active {
				}
		}
		.slider:hover {
		}
		.slider-wrapper-mobile{
			display: flex;
			position: sticky;
			top: 12px;
			width: 100%;
			// display: none;
			// margin: 4px;
			// justify-content: center;
			// align-items: center;
			.slider-mobile{
					// display: flex;
					// justify-content: center;
					// align-items: center;
					// flex-direction: column;
					// gap: 24px;
					// width: 100%;
					.slider-button-mobile-active{
							width: 100%;
							// display: flex;
							justify-content: space-between;
							// align-items: center;
							padding: 10px 20px;
							// gap: 16px;
							// color: #4504aa;
							// font-family: "Gill Sans Nova";
							// font-size: 18px;
							// font-style: normal;
							// font-weight: 500;
							// line-height: normal;
							// background-color: #fff;
							// border-radius: 32px;
							border: 1.5px solid rgba(0, 0, 0, 0.056);
							box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
							
							.arrow.up{
									// margin-top: 2px;
									// transition:cubic-bezier(0.075, 0.82, 0.165, 1);
									// transition-duration: 500ms;
									// scale: 124%;
							}
							.arrow.down {
									// transform: rotate(-180deg);
									// transition:cubic-bezier(0.075, 0.82, 0.165, 1);
									// transition-duration: 500ms;
									// scale: 124%;
							}
					}
					.dropdown-wrapper{
							width: 100%;
							margin-top: 16px;
							// position: absolute;
							// display: flex;
							justify-content: left;
							align-items: start;
							// flex-direction: column;
							// background-color: #fff;
							border: 1.5px solid rgba(0, 0, 0, 0.056);
							border-radius: 20px;
							gap: 0px;
							padding: 2px;
							margin-bottom: -200px;
							box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
							overflow: hidden;
							// z-index: 100;
							.slider-button-mobile{
									// cursor: pointer;
									padding: 8px 16px;
									gap: 0px;
									// border: none;
									border-radius: 0px;
									text-align: left;
									width: 100%;
									// color: #4504aa;
									// background-color: #fff;
									// font-family: "Gill Sans Nova";
									font-size: 18px;
									border-bottom: 1px solid rgba(0, 0, 0, 0.046);
									// font-style: normal;
									// font-weight: 500;
									// line-height: normal;
							}
							button:active{
									// color: #fff;
									// background-color: #4504aa;
							}
							.slider-button-mobile:hover{
									// color: #fff;
									// background-color: #4504aa;
							}
					}
				}
			}
		}
	
		.shuttle_bus_content {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.shuttle_bus_container_card {
				justify-content: space-between;
				padding: 16px;

				.shuttle_bus_timeline {
					flex-direction: column;
					align-items: center;

					.shuttle_bus_type {
						padding-right: 0;
						padding-bottom: 20px;
						border-right: none;
						border-bottom: 2px solid rgba(0, 0, 0, 0.03);
						justify-content: center;
						align-items: center;
						width: 100%;

						img {
						}
	
						p {
							text-align: center;
						}
	
						.shuttle_bus_type_title {
							text-align: center;
						}
					}
	
					.right-bus {
						grid-template-columns: 1fr;

						.shuttle_bus_item {
							display: flex;
							flex-direction: column;
							align-items: center;
							position: relative;
							margin: 20px 0;
							width: 100%;
							margin-bottom: 60px;
							
							.shuttle_bus_card {
								.shuttle_bus_image {
									width: 200px;

									img {
									}
								}
	
								.shuttle_bus_image:hover {
								}
		
								.shuttle_bus_time {
								}
		
								.shuttle_bus_route {
								}
		
								.shuttle_bus_line {		
									position: absolute;
									left: 50%;
									bottom: -90%;

									.arrow {
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%) rotate(-360deg);

										span {
											display: block;
											width: 10px;
											height: 10px;
											border-bottom: 2px solid #4504aa;
											border-right: 2px solid #4504aa;
											transform: rotate(45deg);
											margin: -10px;
											animation: animate 2s infinite;
										}
		
										span:nth-child(2) {
										}
		
										span:nth-child(3) {
										}
									}
								}
							}
						}
					}
				}
	
				.shuttle_bus_kepulangan {	
					p {
					}
	
					.shuttle_bus_kepulangan_note {
					}
				}
			}
		}
	}
}

@media screen and (max-width: 810px) {
  .shuttle_bus_section {
		padding: 40px;
	
		.shuttle_bus_title {
			h1 {
			}
	
			p {
				b {
				}
			}
	
			p:hover {
			}
	
			.slider {
				display: none;
				.slider-button {
				}
				.active {
				}
		}
		.slider:hover {
		}
		.slider-wrapper-mobile{
			.slider-mobile{
					.slider-button-mobile-active{							
							.arrow.up{
							}
							.arrow.down {
							}
					}
					.dropdown-wrapper{
							.slider-button-mobile{
							}
							button:active{
							}
							.slider-button-mobile:hover{
							}
					}
				}
			}
		}
	
		.shuttle_bus_content {
			grid-template-columns: 1fr;

			.shuttle_bus_container_card {
				.shuttle_bus_timeline {
					.shuttle_bus_type {
						img {
						}
	
						p {
						}
	
						.shuttle_bus_type_title {
						}
					}
	
					.right-bus {
						.shuttle_bus_item {
							.shuttle_bus_card {
								.shuttle_bus_image {
									width: 240px;
									height: 160px;

									img {
									}
								}
	
								.shuttle_bus_image:hover {
								}
		
								.shuttle_bus_time {
								}
		
								.shuttle_bus_route {
								}
		
								.shuttle_bus_line {		
									.arrow {
										span {
										}
		
										span:nth-child(2) {
										}
		
										span:nth-child(3) {
										}
									}
								}
							}
						}
					}
				}
	
				.shuttle_bus_kepulangan {	
					p {
					}
	
					.shuttle_bus_kepulangan_note {
					}
				}
			}
		}
	}
}

@media screen and (max-width: 560px) {
  .shuttle_bus_section {
		padding: 60px 16px;
	
		.shuttle_bus_title {
			h1 {
				font-size: 32px;
			}
	
			p {
				font-size: 18px;

				b {
				}
			}
	
			p:hover {
			}
	
			.slider {
				display: none;
				.slider-button {
				}
				.active {
				}
		}
		.slider:hover {
		}
		.slider-wrapper-mobile{
			.slider-mobile{
					.slider-button-mobile-active{							
							.arrow.up{
							}
							.arrow.down {
							}
					}
					.dropdown-wrapper{
							.slider-button-mobile{
							}
							button:active{
							}
							.slider-button-mobile:hover{
							}
					}
				}
			}
		}
	
		.shuttle_bus_content {
			.shuttle_bus_container_card {
				.shuttle_bus_timeline {
					.shuttle_bus_type {
						img {
						}
	
						p {
						}
	
						.shuttle_bus_type_title {
						}
					}
	
					.right-bus {
						.shuttle_bus_item {
							.shuttle_bus_card {
								.shuttle_bus_image {
									img {
									}
								}
	
								.shuttle_bus_image:hover {
								}
		
								.shuttle_bus_time {
								}
		
								.shuttle_bus_route {
								}
		
								.shuttle_bus_line {		
									.arrow {
										span {
										}
		
										span:nth-child(2) {
										}
		
										span:nth-child(3) {
										}
									}
								}
							}
						}
					}
				}
	
				.shuttle_bus_kepulangan {	
					p {
					}
	
					.shuttle_bus_kepulangan_note {
					}
				}
			}
		}
	}
}
